/* RO635 */
/*Vertical poster*/
[href*="characters/179303-"], [data-href*="characters/179303/"], [src*="characters/179303/"], [srcset*="characters/179303/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMTfQL74Fj9zuJNU3JnMRRiu02Ol5QfpZ1_-CdiQP8zDXT5y0HArRdQof3SEJEF3h4mPEYpnsD8LqgThhFGIbi4rtBruPxMnIojEfWlbjfErfnczJPD0Jmjj0F7NmP0DIbG2vwzl4-zwX7MDt1s-PFN=w700-h875-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/179303-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNZKKU8rAIi06kkWPwrGReWlxcaEr5oMjyMJFIPLHHBd4qlbT70Kdha7lDizZHCW5LTurTvhghSVg2oYPsyzYuSJYeaXB5_UAFYPbOcBwXH2_DrAAdl5oyapATAvRkcj49r2VH7g-6XXSoXYyB7no3U=w1000-h1000-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/179303-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMjgBUF3ER7xFcFFPZeXn_RnLQS4Pgm-MfIOoSFKXhZP93VeIQYBEs0tz5kQC_ERKU8_hgwmm97ACer8q2gImzdCr6k1jKgyDiMn87IFtfd1tV6gCc-LkImBS4LsGj7FmT2E6tW7mIKg03UpR0d0YWf=w2314-h1334-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="179303-"] .image-decor::before {
    content: "RO635";
}
.p-profiles .cc-favourites .c-character a[href*="179303-"] .image-cutter::before {
    content: "Wife/Raifu";
}
/* Vector */
/*Vertical poster*/
[href*="characters/209100-"], [data-href*="characters/209100/"], [src*="characters/209100/"], [srcset*="characters/209100/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczO7mNBeLBJ6SWKX3nFFYhBZRd-Pa9o0aSSiu3fmgEtEFN5EPKXnJfaNX5vIjGhvaWYdwNV2OLwY3nYID92yATNUZ02ZnEo8RWUWGXjXtfmL5hMOzKjHQ1fH_g-XwJ9fxacNu0K20Ob53bb3cB-ldKF2=w1149-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/209100-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOcVU3otG-SohxXWG8bG66BZdFW-6IeW3cCXYjKJA-1zDPYbZIRO2opw7HU1EODa9sHIPF8DOYBGwxBZXKceKJbCITABUJQyxykVwz55S27X1q3Zp_XIVzrXQYgdsFds4wC4oV0X3KoW3r6GzhwSD1E=w2439-h1725-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/209100-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNpAXuPdHviFGBFkZ8WjPHp_aZ8yr7lRQwhupqI3CioCwCVqSrxOxclDlB4z05xdmYjJbqQktyC52lj_tIo9gvkrDNg3pXP7c9wXyojIQmWAzzCOl-GLkJVIARADAEEqoK6uqhaL5pjoUjjJfMYU2Km=w2440-h1271-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="209100-"] .image-decor::before {
    content: "Vector";
}
.p-profiles .cc-favourites .c-character a[href*="209100-"] .image-cutter::before {
    content: "Wife/Raifu";
}
/* Suomi */
/*Vertical poster*/
[href*="characters/183745-"], [data-href*="characters/183745/"], [src*="characters/183745/"], [srcset*="characters/183745/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOvO68YOPtmZd_UiDHNaL4TCaiHf4_wjaobkOleN8mooLwTmnZNVtXkshbWegmM1w0zKikq-b2zqXe08WROQWBaU622X3Z6DthDmLDKDLBHrAsd3A7NeyikyDU0alK3z6q8Xs2JALOG7Cf9tGSqecTv=w1585-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/183745-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN6GsqOL6QsL57csgtXU7vXfRdIKzF5Vii_1NEvNwxpw3TP97Z156GCmHzNBoGPomd2QlfLFoPKWEogfLAA5nTY7b8t2f9xtFAf4GxK9eP_wAV1Ra3Irt8xeakcCG03ANI47EyI06vuSA3ond7p-zdT=w1712-h1126-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/183745-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPWMnKWpm0fY0c7zt2gKOjkg28AMyQQNuE2S7By18Pt1wlQq-kAVelm3Sfnk5Q3y4krndq5VnHm9NUOBsmKe22dEHZ00qEvZ26oqFV7yPj7MvbfVC_n4dZEe_ejkYhxy5elbBKClm4Qc3kEx8BTvQvf=w1637-h1094-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="183745-"] .image-decor::before {
    content: "Suomi";
}
.p-profiles .cc-favourites .c-character a[href*="183745-"] .image-cutter::before {
    content: "Suomi face";
}
/* Welrod MkII */
/*Vertical poster*/
[href*="characters/176025-"], [data-href*="characters/176025/"], [src*="characters/176025/"], [srcset*="characters/176025/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMnpT59DXOrtzmAfZv_uswzPrz1WOUdi6vWwzdcX3Y42jw94PN94YZ-gu0TsL00-0w-oIAm_1QC4PH23JejTownfBM07ovVpiGC8loqIp8jhbcXZkHGj9AlfUrwVUQXCErfOLay996kniDAG5N-QEug=w1589-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/176025-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOMg4Mqaq5hwtxjk-kbozMIBgEUSK2cIGfTp0BnHi7rFSVS8rgq0d4DESIh70X_Z1SOn_i_y3wh59QWnCtKWoU4jIZA8KNb-pFJYEawsC_pRD6wGJmgPjQzJMlzrbuI0Ghv5T5FtGw3dgOzjqHkoa1u=w1600-h820-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/176025-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOZflqNWidvF9dr_Fc5tBUvM2eipIDQI6Uw3ek5a_se6nKwSmt1LSVavv9pL-fIgrJlRnyzdMF6HOisDVVBGp3e5Duak6k5DI5xJqHsrCve3SivjrCd_5LSws9FmAqtQuXduvXVhTWxZT5Jv0le9Fpt=w2048-h971-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="176025-"] .image-decor::before {
    content: "Welrod MkII";
}
.p-profiles .cc-favourites .c-character a[href*="176025-"] .image-cutter::before {
    content: "Wife/Raifu";
}
/* Negev */
/*Vertical poster*/
[href*="characters/209611-"], [data-href*="characters/209611/"], [src*="characters/209611/"], [srcset*="characters/209611/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNCfjC0eg3MCMBeq86s-Pq5r2jEGhG4WqPabyJVyFlIcqu4-4Iwrjl3pItGqumLc03WEqgC0qaXR-3FevoLp7azbCtEdhYEkiIu8ZjsxiKHlmO3U66Fp1rDZ6HGtLs4ocVn23fCrU8uZZeT5JBBolZb=w1392-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/209611-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNMiXStOrXGC2sKrs7SPf7-xtoTAeSDHEPPAMPJ1HfLPbQawWmAEZEU3kYhLOyZXy4sJN9q7wSxqYXIyvh3o2Wl76YFxOxMht6WYJjKmXJtZav7jHVilSXeWCrS8LOEcCpXnL84cygyztXS2LjcXrjj=w1667-h992-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/209611-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNOWVbdJCjMTRcyn25j9gQuKbE1xGtAprIZT1PUWyKxxK8nBcljjK9WioxhLaQ1SDBqtuiVYBWBB7h141WVoZuJmdDn6E79fHMcIlWg9kos1vWaCsoNfZPvX9YGp7Z16Q_a-fcBuQma1qmJFWTQmry1=w1240-h1066-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="209611-"] .image-decor::before {
    content: "Negev";
}
.p-profiles .cc-favourites .c-character a[href*="209611-"] .image-cutter::before {
    content: "Wife/Raifu";
}
/* HK G-36 */
/*Vertical poster*/
[href*="characters/206097-"], [data-href*="characters/206097/"], [src*="characters/206097/"], [srcset*="characters/206097/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczND8hX3-fR0DNmy4he7p3egzZglAdV7rP54SnjCCJ2lFFtTG7-nHXAfk4JkO7oRG_0IQ_eBL8l6f4yJdd2UDIXgFTQQws4yhm3qdhAgzTDcYhal935kDX_vrZaiTduClbzwIqYrcoikykJziHR0zha6=w620-h1095-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/206097-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPiDgshPqgaxELV7p2IyctBwZMcnXFKstbQUz5bMgjSAwviP7gWyPTcU8Rp2A4ekzoJjgaKspRqt9ra7omBsjoq1bQ8YzV6j_7FgRZWdhdnJk72-J6QEhXmwX45ObMqi7JJ144jW_BGR1VqBgkYab9p=w2046-h1447-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/206097-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMI72YqcIMyLdBL9jGY_PvTPH8gTDHkrMq4ABaHXVZmAPWygTMP9bgXIkk-1Z2X-WCnAqem6uNk6KDkz9MBDBPaipbr7w6HG4SQtzIgEoCQZxI6dL2OXEkTAJwSzv3WQlsaTlaa88jlqHnpSbTXoMgx=w2439-h1453-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="206097-"] .image-decor::before {
    content: "HK G-36";
}
.p-profiles .cc-favourites .c-character a[href*="206097-"] .image-cutter::before {
    content: "Best maid";
}
/* HK416 */
/*Vertical poster*/
[href*="characters/176021-"], [data-href*="characters/176021/"], [src*="characters/176021/"], [srcset*="characters/176021/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMLArS2hYzog0gRs6nO1eGMXRpe5hTHGoYR5-jGDmyA6bCBYiFKSULMDDimAlnnai3kme8LBrUygAMSh7i4cXypVvDMapNNZMd8-O9vj3JlapkbwczUiYFgTh6QybhathHyDssetRqmIxttlFpte-x6=w1424-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/176021-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPBKHTUlAF9zGMOxLRLCx2-s3RpqpKFSr9b9VOWvfYYeqlTeKkIf4UeG09I-SKR5-wmZgQXi5Lhn58hoyOyPvVPUfDvqGPUqjVKXQ56A6iD2466kMbir6F-iezXzVRVEjxyFPwkNQ9mUiOsyOY2yLis=w1719-h1154-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/176021-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNdyX3Ar7Om3ghkArbSC_qMKLjfXEFzyoOdMvd56NdKqykbvQphuGQg-eF9bD4dlGzA0Xxt5iRuLzyxztudGwNgZGU9b8_gs7Dktz-u4IEeB9YQ8DATnJvM8cYLFGMYm4XnVuDavOZYzsRNm8PFL39Y=w2000-h1443-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="176021-"] .image-decor::before {
    content: "HK416";
}
.p-profiles .cc-favourites .c-character a[href*="176021-"] .image-cutter::before {
    content: "Mommy HK";
}
/* ST AR-15 */
/*Vertical poster*/
[href*="characters/174032-"], [data-href*="characters/174032/"], [src*="characters/174032/"], [srcset*="characters/174032/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMfxxoYPHTa8Hp6aBUW9DlAEXBhaMCX8-31E6aHQKNI0b1pnYjDKbpXRYFcNKxANcb9BiKCMRRbl1Z84IQ7CtlInku2NPnI9IfdpK05E0zQlKtafKm0lCspXdYSvjaBU5CRLbPDEAaMz6BBEpDQZWPb=w1194-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174032-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMieTFAR8QACweZerLP98Loqr_NIY4W2zSVrnc4V0oZUyVn3HRBsYEwpLa4Zeu3fZ6aGM8VPme8Jm-0mmVIT15puaSS_8s0tzA1_1O2InBRfe6-_pz1uBux2sKYDYUVHwaEBPHgCdHiQVF6mdfUuCQe=w2439-h1433-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174032-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMQ6qHb2sABjv0rAVWCkgh-i9da1_Epj-V3-QheIKd2d-kkf1JUghBaQiQoAzxu5Ka2uNfZGy4xhwXtIiRHVSaZlzVmFV3tt1W1IMPfKWIugLI93syBqzptp7FWMzmc0PJ8d2zFS4vhksoSAY01Ih8F=w2439-h1742-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174032-"] .image-decor::before {
    content: "ST AR-15";
}
.p-profiles .cc-favourites .c-character a[href*="174032-"] .image-cutter::before {
    content: "Like";
}