/* Shoukaku AL */
/*Vertical poster*/
[href*="characters/174385-"], [data-href*="characters/174385/"], [src*="characters/174385/"], [srcset*="characters/174385/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNZVQCXgUdR4MoLB6prh-gHut4mypqMOvlsFYlgdhArTfJDekKV_ki0qBw1cLq8SDDg8jPuONOL05yfqVeSYTGgtJHTjpH_fm82IMzrCwZMpfirMw8q-K60R3UsVRl4nIMyJa6q0_SYoFWE-m29AwVF=w819-h1472-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174385-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOgJ-B4KMEDcWyzHSrSheS5e1qZSkr6VKTYdfHfg8AXxKtDewtRbzffRF_LfPYG7gnNpfAM7iJNq6RqoOFYs_JhVMiwX7dr3qkaTMBQzbUrBwhk07M-WkhzN4ps_J751nyNIPowEvUsri6dDbQmxYS_=w1200-h675-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174385-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN1iNye4kDjIWuar9RNtFvV71ctzDUIUPz5sXz6nBvPGY_320TtTXLoubCPH4qwyhQWYMwBFYBYunFyrWLzpsYmD58-Du6Vt83GYiXgCQXjq9lGNoyPAsV_29RfTsNTNH_DjHy34kMFrw9J7TRDrQCz=w2000-h1250-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174385-"] .image-decor::before {
    content: "Shoukaku AL";
}
.p-profiles .cc-favourites .c-character a[href*="174385-"] .image-cutter::before {
    content: "Wife";
}
/* Prinz Eugen */
/*Vertical poster*/
[href*="characters/174202-"], [data-href*="characters/174202/"], [src*="characters/174202/"], [srcset*="characters/174202/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOeMCh5ZhFmxv-VkoIM_1dxMcL2Le2rR15rUn9AOvQ89-LLuZftzAda0KUEgsR8fD3LkRx2STU-8Qqs8I3sTRGPKRwJeQyYhNIKYxuyecFhw3bcsv1pJUen-p8Z7ptPoqAgal4w5ulK8Bu7Ply4Vs37=w987-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174202-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOmUgAYD0gCLbX0kQEIXKuma9gUFV2Mf2QsnDyzNP8zDsqI8HaoN-4L-TcPnd0sT1L7afmoyR-agitf-yIdjWoGN5x-_YI-6L6BbtFWWjsoqmda5WiDjBaWC9fCsTgrYt14A91IsGrZ3jPjnxtc-laB=w1654-h945-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174202-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNSs2HPyinQBuxBWQt0Vs1kaCSkbHzjM4KXht7KM3bzH3qI7B61KqBCG4jVYVRyjVorQfu47FiI9znZ6XNazdRWbr-UGF9OYUyEH7ZPiU7UaYhXyOyM2EpdzyJbYxu1vwIQ4J4qmruMrY11kIdahKrU=w2258-h1597-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174202-"] .image-decor::before {
    content: "Prinz Eugen";
}
.p-profiles .cc-favourites .c-character a[href*="174202-"] .image-cutter::before {
    content: "Wife";
}
/* Noshiro */
/*Vertical poster*/
[href*="characters/226471-"], [data-href*="characters/226471/"], [src*="characters/226471/"], [srcset*="characters/226471/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMyZq8qvVXjX-05GM4FzH4F5c-65PpP_zfrmDwqTkPZDYlYRosi4hYqFXLoAxciMiKLnZTrvhv_RgSQDwDPtm6KEMs2lOtpGrrhfjOhiLQkMeu93Exfsw9r-zuH8hE59lEoFU2wFvwDycnfmnR8cdNG=w1022-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226471-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNx5f0ThiBeLm-wFkOj-zfnh-F46uv8aP4RfGd_uP_xddv8vBOw8H7G_P-kMeJO3SDNg5vJIhLNLfhJdvPejVbwM63cgH7sEQJz2OrOIIxF-UYWH9wrxibYeTabcZl9SgDK8G5yKUsfddgwJSoCLjWQ=w2429-h1558-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226471-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOJ2qJH3i8_B0zQagcTdulyoxT0vhUnG-WEK_RQj3eNbtJ28ySvG14P54iP6DPP5IG_b1rUqVgal9SE0ni9MlS9rDEhaPCV2iBnOKTw1OwVyC75sMEOlsvCQnFpWcboC6uQuNH9fDp5h5RBb-lUjGpq=w2429-h1366-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226471-"] .image-decor::before {
    content: "Noshiro";
}
.p-profiles .cc-favourites .c-character a[href*="226471-"] .image-cutter::before {
    content: "Wife";
}
/* Jean Bart */
/*Vertical poster*/
[href*="characters/225875-"], [data-href*="characters/225875/"], [src*="characters/225875/"], [srcset*="characters/225875/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPQtGMYzBtijvyaqKSm6tMMOl1ilQE_TCC-VyfxocyaZYKdduUppi1r41Pjf7GEsM4oa907fnyAd4xXRyGQiXnRNN8dqIW2OsL1FsjxB28xogKKS1obBkQ-75Fzkn4ShNssXaoar2IRUJvV5Poa97WC=w1001-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/225875-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNMfgKcc3S9e2To8YOucNkFhEBX5rFM7rkN-eH8SBNEfkkZMGEv92KkQU8EcjjTdaQU_7LJ3nZOoeyZDckpYuDGAuwQcnJ3jSzsGcyl9ubg8MHlcCYVOgBsU_PzpFFzmCjhXkhD-gF1PY1putkdu8SD=w2258-h1597-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/225875-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczM0GNNsQJb1maQRKTPwJejEmp8P_DaUbEidQ5ImnpCD8effVJQQ5eHY5xvhomhV3YhIbLLQyfYfNPY5XhJ8Hs0jcoafhQmq47RO38LEVOCoAzrF30N9z40Rd8rdnoPoPIAIfZgg0ApcnlXEFqO54vwY=w1984-h1403-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="225875-"] .image-decor::before {
    content: "Jean Bart";
}
.p-profiles .cc-favourites .c-character a[href*="225875-"] .image-cutter::before {
    content: "Wife";
}
/* Richelieu */
/*Vertical poster*/
[href*="characters/233976-"], [data-href*="characters/233976/"], [src*="characters/233976/"], [srcset*="characters/233976/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNInLGi2Tun9s7zEacyhF7bhpXH1Y-CrjNXAzmzgZYH4K1h2cnYhuO-MAvcWqJaXU0VboYNRmjWkVDe6Sm1LNdNW62trgP_rp4a2ErtnyZvfPCF_MWqxKmG4tXJpguI0TAF7EUbpKnPhTFSBQXRlLAW=w1013-h1433-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/233976-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOhjx4CPwSs5fBBmec3VUhfMQQ_qOMtWx_aT8NZMtLsp514BjjK-uiQpThE-8JHfRJV9fYK2YxlIDwIO7S420f_8K1X5Q535p2Nq4yRLPubkVm4K6VzQOrSln_yYZbJOzRWziHWtADMggFdMjxytNgO=w1920-h1080-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/233976-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczO6nXhfHivbvQJKWTZYI0WJjeCSrPeqWsSNn5UXTqNdCuXoiK6reHBL7mOufPmbt7a8zFH-LnqS2tW6mv6_-FDXT2LxSf9OvpAbaJl5vpfpe3W2YqMfUi-U5H3j41P6ysYzu_952G6_pa0pQGRPbIR8=w1513-h752-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="233976-"] .image-decor::before {
    content: "Richelieu";
}
.p-profiles .cc-favourites .c-character a[href*="233976-"] .image-cutter::before {
    content: "Wife";
}
/* Aegir */
/*Vertical poster*/
[href*="characters/226476-"], [data-href*="characters/226476/"], [src*="characters/226476/"], [srcset*="characters/226476/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPKHvnATQkzABTAoPfl518O4cxsKa8akjIqxiWTYbxHkXJg4nu8IdeJ4ZqtwP2WAcT7Ea0XnC0FyvLVopl6DqsMCugnuRQ4rzvBpVdD6M0Y9gR4zA6juz0ksmLUvk509uWGaoUZOfLWtpaVXfo2KEib=w997-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226476-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOJuc6Oepw9Ja-Jkbg1YF_sxGTLIXwQ-hcEZ9gNKUOaR8wi41dhWs-mr7WUsuAwTmF-551d0JS086omSsCFcONm0c_iZxOetkRfuQPB0DcfTQLA97inntxuvA5hXYkFJ93NJZ5CNXfTcwNFbbXQVbSP=w2262-h1597-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226476-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOedk_3ebyZO9A18zvF9gsYCeA1Neis90uuQS2ypMah7As_PHfeD9hndhCeJvEFuST-E30OIwmhIYK38SKHqJ-2FedunhwwMFwbSAEjrAJBS13GZpF82fXGbEe1FP66ogzY6ZO-bhtJCn_ZyJj7swwm=w2429-h1347-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226476-"] .image-decor::before {
    content: "Aegir";
}
.p-profiles .cc-favourites .c-character a[href*="226476-"] .image-cutter::before {
    content: "Like";
}
/* Zuikaku AL */
/*Vertical poster*/
[href*="characters/174386-"], [data-href*="characters/174386/"], [src*="characters/174386/"], [srcset*="characters/174386/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPGA7j0PNs_aeX03jHeabogv6j-bS83tWJXIgB3met6hjDcU1yjtXuhzwGfGvrzRJY3LxaWZKsxuyIt8_QTgOyiGXHT8EgeBL03gpQDjUkhVkb32tIknB5a8DC2HzqCRTxsP5Xvahwe_iL6AT3v6VTc=w1029-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174386-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMcYeghg-1uR6kn1ES9dc7d2c5QrlrFnnuaGzo2QBRp9RFq-jdv8dSFsN9_OgL_0XbwzZIu5v9sHbHW1vf11HOkIsMc65TfbfZqvWV918Iv_JTWxxREbBy1m-Gx4EgPMfGt2CWnXgzVtTmVabDGlb5l=w2838-h1597-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174386-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMa4BniALlf0e5pIJ9-Xo197arJrBRRhYmxKKJFHHRrkRtC4lApPTSFBUsiCiOPEKHhIHxEFJqrBeUEGvEUudouNNpMitEMaxB1WCFrgqvLap7KCh6tUekrNXPDvSx-gL-LAXob8OzEJsCnEBsxNmeo=w1200-h850-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174386-"] .image-decor::before {
    content: "Zuikaku AL";
}
.p-profiles .cc-favourites .c-character a[href*="174386-"] .image-cutter::before {
    content: "Wife's sister";
}
/* Friedrich der Grosse */
/*Vertical poster*/
[href*="characters/226505-"], [data-href*="characters/226505/"], [src*="characters/226505/"], [srcset*="characters/226505/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPKHvnATQkzABTAoPfl518O4cxsKa8akjIqxiWTYbxHkXJg4nu8IdeJ4ZqtwP2WAcT7Ea0XnC0FyvLVopl6DqsMCugnuRQ4rzvBpVdD6M0Y9gR4zA6juz0ksmLUvk509uWGaoUZOfLWtpaVXfo2KEib=w997-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226505-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMrhm8FZfWPtRRdRlTOdkmC7ndW_KVPocrAs4LomMalRybUBY8NsQ9n4BwAK9yPvmhMmq49h7DhTcF4hW7-f_VJ4saLF3ho7e5CZrIDACKzMtn9lkD6LtL5lf5T2VO3Zvu0kp4CZUEb698rdWM0QfTf=w2655-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226505-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP4pthWOn1-XPtArBttkK55vsI-t74jyKASXY8SIuboLLNu-2xuJWkoP7MtLIaYO9utpCuPRIIf-zLoVHfFq7IsyPGLfhhsUNjZsAUqEj40NbXgA-VnMTmnXBm7JwV1iYc0eq45_vbDkWPza7MZTSuE=w1280-h720-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226505-"] .image-decor::before {
    content: "Friedrich der Grosse";
}
.p-profiles .cc-favourites .c-character a[href*="226505-"] .image-cutter::before {
    content: "Mommy KMS";
}
/* Roon */
/*Vertical poster*/
[href*="characters/226454-"], [data-href*="characters/226454/"], [src*="characters/226454/"], [srcset*="characters/226454/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOiYIwDtS-YxozDp1bPwfG7HbR4MY504V2Pxp97FIUnU9AZYTVEPyH5qmJfqkWmT1dx1ugZSpD-CqBMLDD0Fx0L8eJgw86plR0m-zfsXEOua6AumzRSncWpSRLu8aOhhYYtmkuOSo3rWfDTyPIroWqt=w714-h1000-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226454-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOBwPIQD25_SCwr7ldbwXnoeQpKhCT18YjHvQ2HJu6nSQ_kqWLQKPPXgHS0c-CozvWLdLSDIBdAgBdhXPJGfHQYWHHdQuxQtWxkurAGIFBKfGdPNSk13SWW-YWj6YsMNvM0ySNfPNsXiZ0LdoqMDcli=w1394-h925-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226454-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOFw_oZ2Ffr5DnL5ktoK9QYqHB1fkYpQT7pzbFYGkoSK0m3niRdmFKoMdoRC0zmyJDN-Wgoz5sRgbQ5HG2fE-hO_wZ9BmkdVP-uiOT31C0mbFVpK1J97KpD1R4Ywh5QPp73pJGawO67lHkqhtbACx-W=w1684-h1191-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226454-"] .image-decor::before {
    content: "Roon";
}
.p-profiles .cc-favourites .c-character a[href*="226454-"] .image-cutter::before {
    content: "Almost a wife";
}
/* Ibuki */
/*Vertical poster*/
[href*="characters/226244-"], [data-href*="characters/226244/"], [src*="characters/226244/"], [srcset*="characters/226244/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPaQxDhw74bXjd_QzQ7vEfw-8nh6wizR--VsZH0krXaVph7VbERgi3yKgTjVJYKLQXnnybDPQIFTjVWwtCQ9K8Lw0tMe8BKBytnwQzbTVJ_w1dXOUtmTvS0sg8vdL774CY7iYkLUpw56XIfmMTtvV4X=w1493-h1991-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226244-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN0DH0F_WaVjvAGTL4-ShaHKf9FRseuOIesv7W2UUE1LoyPd4OlEM2-NNRz50aDSg9V_5y66zPx4yp5BsUjE0ZtzgkWseuGebzk0r4EuT-FtSfh3866is-usnsA1fet3b9oyXU1OrVMLmLH_68i6Hci=w1584-h1056-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226244-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPbIKBzG3zLIpuacs_gCDqRLSApcJAOD3Tn_1AyEOaaOqPX0-J15AtVch1FdK14e-zQnugEO-z52OWfhY5zTB_WhIkaijWNRO5HMzA5Ka-rHSNhbWjOrEPtnIomBYi1rcjvunIBYjIlCuXf37p5g5oq=w2600-h1500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226244-"] .image-decor::before {
    content: "Ibuki";
}
.p-profiles .cc-favourites .c-character a[href*="226244-"] .image-cutter::before {
    content: "Heterochromia";
}
/* Haruna */
/*Vertical poster*/
[href*="characters/226456-"], [data-href*="characters/226456/"], [src*="characters/226456/"], [srcset*="characters/226456/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMKa8hWGtzS_M5wTnBP-WcKZ7aX1AJtfgdJHOXu6WO1fxm57aQLL7omW0y4XYqNv65OWAUAJqrDlpEQ7Jp2HlgPF7H11erbvYWlRo_-EBOQRjA6LhTb0YUx6LpGiIo9BqnlSMXmQpIJjs7B9bW78w9v=w800-h1109-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226456-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN_zV4R6hg1f9-mn8npVAZt0Ei5eVNxnKlcooD21tqmR0uKLsMWXE_j56a31Pm3VsSXsk877rjSEYSLuMhtPI6W1_k4litNqmnXGYOaxyteO2JnGgIgFxlMxun8_mPteA_a9NwF79z7q02GenfLsvJp=w2000-h1500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226456-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOt8TtbtE23s2b8zvlZSBc5zY0IAOWDhxiQYtgELaIVAjsx3GmKQTBtU1J2Ves1XAwGE28fTzjFaJJxb4IETt1VKJilKYZ6upZRFUpwF9wBC1s31ynSW2rCSJFtXLfzkYp_hCtfScUO4ss4XSXCP7J7=w1480-h1000-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226456-"] .image-decor::before {
    content: "Haruna AL";
}
.p-profiles .cc-favourites .c-character a[href*="226456-"] .image-cutter::before {
    content: "Cute";
}
/* Baltimore */
/*Vertical poster*/
[href*="characters/174027-"], [data-href*="characters/174027/"], [src*="characters/174027/"], [srcset*="characters/174027/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczM8GARRnKb-EVQfcrcaCnsVkZgSHye8ATVAIjsYGHLEuKRnmXxSpVkt9AzYrtzUL4hUOcldMWCInQ89DP2MtMbjqtHklbvuj8YjvNvp0OFGT4DTFPdFGAm6jin972HLYgHHcRw8Gjz0a-QF_P8mfa5V=w786-h1381-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174027-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNkmoSnsgloetbiZqE4R0Iskks1WljVDUCuxe3dyAT5xZ8XuLrRfqt5z3aYkbrrv5kQ_Bg5kpyuH4QmNQma-TGxiaH8pgsISNFQ2LEqnDvAPIiC441Ek7_1so04pvOuQKYkgy8aVxH_9lk7DUMc4U9k=w3325-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174027-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMU0KJ4r8AjzVkgfOqVP_I_pCBirUCXGXGbCDOrJWs4ZFpi8p045wOouk9UmPGQsHaRyYyimBh1x4ldFxofkGoXvnzEN7j2RwSvBGh5dNcJZ87G1DWBl0EJ4cCsV3dB-1aOBby8A6lWFB4m3IZtAdVB=w2816-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174027-"] .image-decor::before {
    content: "Baltimore";
}
.p-profiles .cc-favourites .c-character a[href*="174027-"] .image-cutter::before {
    content: "Balanced";
}
/* Shimakaze */
/*Vertical poster*/
[href*="characters/226496-"], [data-href*="characters/226496/"], [src*="characters/226496/"], [srcset*="characters/226496/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNumOtjNPSwyQzqw3EOQgc9OhiTnB233994f4ErXwV2MWBelA9bWiIb6FBirPGh2haspIpRLrM2_jSZDxDppg0-KfL9MazxpQ25nd8GoldCA1NbaYA0e2TDX3v1szXg9Q_MRGQRYd2JUBEH8ntfXqeA=w1200-h1600-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/226496-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN0ZjhY0WS33qODjbzvDLtq7iAM3vtUhGQInMlAxiHt-k8DUIcNwagkEziloDvNJSIfaVH0eDBqH1Mc3DLsAhC91TuyzDzDCHLMo_oGyhWXZvvMZzloJs64l98grLASlnsR2QOZ0Jj5v4mIRrnnVcHh=w2304-h1296-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/226496-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNtANU3amhAR5tAne2ZV-8KVmPslYHTPA1c_5zVVahhhK1Hf4p4eFlVjv2PDAivOdsd2eYYyeUhm1wBjtSraqCXiLn7QWEg2PXTGsLy0llAF1DXv3dKrD8ZhqwGcTNTatb_vdy1KglwJA2bnVezYQ3H=w2428-h1720-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="226496-"] .image-decor::before {
    content: "Shimakaze AL";
}
.p-profiles .cc-favourites .c-character a[href*="226496-"] .image-cutter::before {
    content: "Saori Hayami";
}
/* Shimanto */
/*Vertical poster*/
[href*="characters/233954-"], [data-href*="characters/233954/"], [src*="characters/233954/"], [srcset*="characters/233954/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPuGPXZQby6XRW6ZGIPXfpca6bf65RKlxXTTihS6cj-7NIAG7vTHQwcf2SKY6HqEnRhRqAmWOyi43skHJtBE58D2zI16oJrwGY8SaGl0-0HSVz_R_Jh_5EQ0PNLwLH0S7dDY88UxE1XVWSzLkZ9NEJi=w966-h1626-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/233954-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOhobUPCPqWphiEFZRdv1eiVZpl3_UCXkbvGc-jXcOKsh0nqaIEemmtaVdmpz1YXJHjS-dZNO4hIovA8lmXhb8obrQOmEvhmzB65i3bx1bx9py3FfA09Iy0v8k2IB2h6urc3zUSOGa42nlnBFCB0R2a=w3295-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/233954-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNtqqPdNDe6lqunr7wNO4uOr9jLAhMSjnxd2pQZ-vYs-7ta022ukYSpMubQnui6zc0C5mnDaT2pliap4wjkkzM5o-pllJB5DLr0frbPNw8Ah6118yOyix7EVgJ3c-eLDS4kyFe2eW-tVP4xl3X0Q9Nj=w1292-h969-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="233954-"] .image-decor::before {
    content: "Shimanto";
}
.p-profiles .cc-favourites .c-character a[href*="233954-"] .image-cutter::before {
    content: "Cute";
}
/* Azuma */
/*Vertical poster*/
[href*="characters/233951-"], [data-href*="characters/233951/"], [src*="characters/233951/"], [srcset*="characters/233951/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNncywhYksGG6_fzedNXMRKgDDj03tmlYpfdqHofeOYHw8rwMlqMuI2-wyNHHnLXEFjukpMtbloINzZOe-qunAa9i6-1HnAaiAbXMkfjj9PssGuBLvjQzAF_lRma4tqMffKRLBfPGh7CETSD7H8WxlO=w995-h1563-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/233951-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOyG5Ie1RLF9VESp75Cm42K41Zd2ttP3TmvrEz6tYfhdxw85hkNkqfU9WIdutFH-8GzPuj9gmkRbWhc0JIRT3Y05ijowXu5CUe_6i33hSf-IGs95hqHIUm8Bxssp4D0UquaInBjDkX21_zwQwf__kiR=w1500-h799-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/233951-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPuSF6Fp0kvf1UlnRfxtPEH95Y45aP9Oq-xm44qzbhMijwjVWznDkXAczDE5y2JidJ2g3KsMVh46wPF_Sg_iCVoQMwV7S3fh70GyW1sRnzBbMlSII1HAgNpKwVdevDxFJE3aaDZjI1YhU5i_xbHr8n8=w3150-h1800-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="233951-"] .image-decor::before {
    content: "Azuma";
}
.p-profiles .cc-favourites .c-character a[href*="233951-"] .image-cutter::before {
    content: "Visual";
}
/* Takao */
/*Vertical poster*/
[href*="characters/179965-"], [data-href*="characters/179965/"], [src*="characters/179965/"], [srcset*="characters/179965/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOgeEfboIgPGt6H_I3PW-me_ftAr15QLwtLpjYL9UWsUg_-Sg0epCm5EnAy47iy7c66YkQHp-6dwFkFR0dn-h8iQSwmj2mCraXb3IwSzBfKJRYa4xAYrs5zM0O7ykHXenU2gV7L6IAMwL8nkECeX8FM=w1240-h1991-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/179965-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMhPmKQe1mJhG-mXYfD3h9tpARLR1nEqko6QbnXXRREBKw-qByG87dscnsVOhFQcRH3ggOj_Ngup0SygM71gflnLqmViFI6kda0F8XOl5gDCaELl7pURhCGkfRDt0DPchji5dqx49WzXPVjm4dYoRPQ=w2873-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/179965-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNk1aFYRXxNY1xwZYZeBhzx8ORWzPO89Q9WwId5uBIFxp_fyUDwJ4eHRY6c4zPMDNLFD6reeZq07ndrLXR6bPoExcA4BoID0ETrWHnSV5GZ9qRFCoxCa-OrPDdOXklLjdnP2UFPeMD70P6r1bWTVyHN=w2849-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="179965-"] .image-decor::before {
    content: "Takao AL";
}
.p-profiles .cc-favourites .c-character a[href*="179965-"] .image-cutter::before {
    content: "Hmm interesting";
}
/* Bismarck */
/*Vertical poster*/
[href*="characters/179600-"], [data-href*="characters/179600/"], [src*="characters/179600/"], [srcset*="characters/179600/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPFtjkwwfbbsBQS8HgJS-pL7eavJcyZ_-IRM6SiqlY9ljp7h75PUd56R2H_FfIltctbgv_a2AsAbVOCewqXPk3K64hskLg186rwlwpdrw-_8dqNSR8zqVPzbOAmOLGsaEevi5hlxeLFuMdqVwUBYyF4=w1288-h1991-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/179600-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNv5nIk910ZShHfFWIitPyqqBLpBJHXlIHNNLqmkelbzVMyWDPafy7sye_j7_yli3PdJ8qN-M2VP2H56dlkz0yaVgfPy5EdV9RCM_QwPpZPyjTjUK6Sm0dxPU0EJW5p5W7CSA5TCnFAucDzYIUjEcJU=w3480-h1937-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/179600-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMkZf3_W_iq_uE2XBrzJbN1EUul1gdhC7vT9J34pxGiMiZSMaorBBD70UtFyLog84IuaxM_74EbI2Chj-kgR-BxZnR6I0iXuVZwFzDwlvg6fOQCfwB-n-Gf2qr7aHB7kpQrVoG2M8Pc2ea5Gl_f4cIK=w3301-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="179600-"] .image-decor::before {
    content: "Bismarck AL";
}
.p-profiles .cc-favourites .c-character a[href*="179600-"] .image-cutter::before {
    content: "Wife Visual";
}
/* Enterprise */
/*Vertical poster*/
[href*="characters/171646-"], [data-href*="characters/171646/"], [src*="characters/171646/"], [srcset*="characters/171646/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOiDbkMTQFeYD158m0zzkBcgcT0m8tBLq8_udHQX-_3v9Lgy9G0yyehzfreaiq6cw5kuLKs5yy914cZiTvdUZw84YIMTtAKzMnVOx-wBIiIZzFG1VaKwwd6RaGmmWJSpYEfRqsu1b2_y_HYqxhKYFdr=w1479-h1991-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/171646-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP9MBNqCIIq5P_v2aQlEt7yvBD_z6yS22gfgCaNXKW0Fwa5FJen4Iyz0KklTmOlsGBQkeDE8iQjPTbe3lP0e7F6zFwZDaucewtUwo0Q1CGtdi6d-jX939SuZNkAOgS5cQD1xMCoEbP5Qvm9wn41nK9e=w2818-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/171646-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNlmwVDbuVgLlSjPKLea0E1RMsVgoILhDcDsVj7dMAScGlq0A6dL1Rv1CWN05IDeSIGINbJlcpUgYsMuVt9QYJAUY-9aT3IN3nxqsV350Ea1icmvbyfEENvSOX3CrZjVnHNwKy6es_trE9DAWm6Wk-r=w1920-h1080-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="171646-"] .image-decor::before {
    content: "Enterprise";
}
.p-profiles .cc-favourites .c-character a[href*="171646-"] .image-cutter::before {
    content: "Wife freedom";
}
/* Essex */
/*Vertical poster*/
[href*="characters/225881-"], [data-href*="characters/225881/"], [src*="characters/225881/"], [srcset*="characters/225881/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMS6Gd-xePROXvwjvof30BdCqYU3fJf2yQxe_H3G_C9mfLY8vFD5cmDNdPwehcswgFJa_tu3FPSsn7JYtm96bSUiiwn1CPneipalSC7DcsQX2Y_eWRLkJp41i8NtEIGT-tz7M7-UnVXPZr-ZbkicpWA=w1408-h1991-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/225881-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOAlCdQQK5ddntzjs_iyVZQKF3df7d0ZrI78ztCvVrJBCkCj8pAXgyCCgZl--oDh0DWvUc_GksJ7wgqkpHZwzDPyW5M1XCU4yudmeDZDoFuskiyVS_tLm3Z72A_RuOc4neZoZl7Ov3Oj2KEewLhSmS6=w3480-h1981-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/225881-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPrPcEFk8ICPV0GGbcw4TZksHto6vAu508yvcLMtDOWRDzrSLF9nZUTMBShYlgTGsYDY_25f-TTMGc73SMMVk1H2WjN2Dn52A0Ja7U1CoYAK_DA8FV2AYISnLxxvBYoRHOj3hnxAhFPcDAXA64c6duh=w2873-h1978-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="225881-"] .image-decor::before {
    content: "Essex";
}
.p-profiles .cc-favourites .c-character a[href*="225881-"] .image-cutter::before {
    content: "More freedom, more";
}