/* Alpha Shadow garden */
/*Vertical poster*/
[href*="characters/194178-"], [data-href*="characters/194178/"], [src*="characters/194178/"], [srcset*="characters/194178/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNgC2vWnQAdVvw51CLQLM-Gwzo0TC_-iTLnq_qAkByw8oCpLvUz_83GmPab4xa6v_as_pC6glimKmuK3lQq7HWpipfs5zGo7JRSnzecBvWVYJePLs2JH2uZktOrVgYfJqWKN0hvofpULZ01d-_pzY3_=w478-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/194178-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN-m35FDGo3d6vrc0WFBVRTvv1LqLuNi7XufOdAcliDKVMhVqIXv-SjHS9gSqdeulu1FGwDdvbVynS3lLJXJKBDgBLxAdIwpDTzJD2-B1jI_TNvlWdRVS5EBN74FotB1hTFMu8Z4Cq_t5Qohm5IgqYn=w1542-h867-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/194178-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMlhjg63GaY2-8LlM__S_obkX-Zcdchzb7V6j3HqncE_MxTnCvycN1Q7TRKDfh_mlQxEpbI60jxqPsiaVA1Bnmxf0BX-xskOK4S29Wb781uX5s3pRDaZeavYt_NGZc4JYHa9zhBB-Z9ZQ-AO4kKdviv=w1543-h868-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="194178-"] .image-decor::before {
    content: "Alpha";
}
.p-profiles .cc-favourites .c-character a[href*="194178-"] .image-cutter::before {
    content: "Wife";
}
/* Beta Shadow garden */
/*Vertical poster*/
[href*="characters/194179-"], [data-href*="characters/194179/"], [src*="characters/194179/"], [srcset*="characters/194179/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMxFmaiAlzWDiAoKXE9tm72HgXoAuddMQJA4qHOqQPBD1Y8bk_GG7GD8SM51pNKYdSnPRqZW39WDyM6ZA1aR1Wehhjs7ejYQeNg54LcPbETYOwcZMcS68yPr1ST8qb6SSUSQEnGgpxT7hkLfHIvvTbp=w478-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/194179-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMNS1clns8y141puJWt7hJo1ZO2GOjIMjt7ltPw2mdbFfgxJFxQwmq_sKPCTWz4fDc-Ouf9PajnE8I1Z40Ti1_SsyeVL1zFCzEFI2yF6rl0E19POQogqAyJXtq33-YceFpFvXCQXnMCvRjROzcNHIya=w1542-h867-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/194179-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNlRo36Y3S-4pjJXHz93kTzHtNxGunuKaylVGdRwLfrBVaXErrICsdC7eMGUCmDtQ5L9Heo0XPC5JyLO3WLPD_hSjvIfuUwsmdXOcbIh0RQBpC0wW1q7EU_62MoGh94Flh3PVskPr6WrP4rf_P95TIu=w1543-h868-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="194179-"] .image-decor::before {
    content: "Beta";
}
.p-profiles .cc-favourites .c-character a[href*="194179-"] .image-cutter::before {
    content: "Wife";
}
/* Gamma Shadow garden */
/*Vertical poster*/
[href*="characters/194180-"], [data-href*="characters/194180/"], [src*="characters/194180/"], [srcset*="characters/194180/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPQdQa1oIllwb58MrEmeZAPrVkW2vJ3GniqCNDvtKtTk3NJ76uaZZOfcxIAjpaq2WWnFS-7XGkyo5RKL8jIqTIw2zcK0iHgb6Fo1EbLxB7r0a_UNpTcYpE_ldfqKjYcEONecbuvfHDUPbnXQdvjRkW9=w478-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/194180-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOv15iaxGhoCLaz7XsOLP0KP-zcI2PBANtQKqgKkEz850R1RVRIBtIGv2uOyEpw008WFXeXSZvzTeDe2_wLcsAQ5D6pH75ZIrIcDtksxc_TxHxR8pqsdj85yS1IItUxtcdaT9X_9jTpO5JaFfCG20ta=w1543-h868-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/194180-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP91a6WkQk6aa9D4drIrtZk1YhX_s7qHb83jQpnndxOgbjv85arO2E45rN1lpsrFb6I-KqWMHz4r2DyJXBdr2BufkuYVfDSGWMtrmKqhRcaqIp1PwtIK5yV77du9FXY5H72FG7CA0ycxsY_1yGcj7Jj=w1543-h868-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="194180-"] .image-decor::before {
    content: "Gamma";
}
.p-profiles .cc-favourites .c-character a[href*="194180-"] .image-cutter::before {
    content: "Funny girl";
}
/* Eta shadow garden */
/*Vertical poster*/
[href*="characters/206346-"], [data-href*="characters/206346/"], [src*="characters/206346/"], [srcset*="characters/206346/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPuHikwkc4B4GTbQIq4ihejm0LkCxqWvZteDOwNwU47WQsmsIfP8mFoHPp_xg66N8F8q7eMyEOMKut9SHbabCGv2TIZe2uuZ6QDn82oAs4v0U4esyUbYeCDEOAFqR6ZS5Zy7xbfteSOG3-XtvISgXZr=w600-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/206346-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczO_26o8LHwcgQ2fALr7LCH8OI089PfB1QmT6F9Sa-EMRjOXVUvIC3ipoP_EPFJqKEc1-t-skC5EgYhmJZCV1XyZKP6ExJO-VqzbGdVGsFL9vIV3Iu9q6FGAkLEGN1nf991_klc08THCxEU0HGG8XnK9=w1542-h867-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/206346-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczO2YDcLWKFT7cujJUIUARe28-QAPlUssUu-gAzNraHnLWL2wQv4exkgyR2NmtxrUu7MexJztx6EOSdPNIEcJr_QXtTP6v8DWFSZw6NXqaWbX_KURAuFqRK-tqj8kGq8HU7xVWJtbQRJ65sSUT2gJ_5D=w1542-h867-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="206346-"] .image-decor::before {
    content: "Eta";
}
.p-profiles .cc-favourites .c-character a[href*="206346-"] .image-cutter::before {
    content: "Sleep girl";
}
/* Nu shadow garden */
/*Vertical poster*/
[href*="characters/199202-"], [data-href*="characters/199202/"], [src*="characters/199202/"], [srcset*="characters/199202/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczM_OjfaAehQa7FBiNIrgT0OoSyOYciUuFsl7oLvABV6_hC_YZO-hacclIm-LGNirDJBCHQn7OgaLLW3OK81ECJm51o7gC2Adx3raPvhoA3DyAMDZ1mEFuFHQ1B4OBwVxHCFaAs_iW4md-a41X2qw3L5=w675-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/199202-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOn-wL2wiVt8Ce7EPnEZAOOm42y4x-xo8do8WV6m5XkGdbtuzRKuF9pTcYer-oBod2ltRAv_2Z9tVJBeNd6qppbxQ6x9HY7ZwaMyXPvl9bQvUtbBH2JXyrSF4IN6bmB78cu_kxySRPUlHZHArANw5dw=w1148-h646-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/199202-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMA3nc0lD_Rs3eVHrwbtvBP-bxZGrgru32eJLi-7ezYu9cU7oIxeLOFBNNyp28TxuzbYgk90oNCesZA8hPDKR44sDGzr_1PupKxiarZvfbzHkmXv3T7-ek6cEW-W1YJ8wcrN4G9tiy1jftoIwO-Ktzq=w1148-h656-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="199202-"] .image-decor::before {
    content: "Nu";
}
.p-profiles .cc-favourites .c-character a[href*="199202-"] .image-cutter::before {
    content: "Visual";
}
/* Lambda shadow garden */
/*Vertical poster*/
[href*="characters/225089-"], [data-href*="characters/225089/"], [src*="characters/225089/"], [srcset*="characters/225089/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczN9bpKBnNBCM8quyY5YiWrLtu_ZsXIiHGZ5vJV_spjCoxSqSuHfs8jVrHCmQuoS84Gtio0_AC-1CztEB7q969N795m3DJPqhD_WVAGjJT8CC4IOQJ3r9Voaj4z1L44XYXmtPmUgDAFF6x6N21LUfjeI=w580-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/225089-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNOWuhSZxQkoHB6nTt_uzUALZ9gMkPW1Kr5q4TnRP2TNvZUI049g3PO9q5lwXSxC1CiZo7BXf52RIBK9VfzbkrsLKX28WjfelNeEDnUEHnKv0fVortIZ6M6j0sFjug8k7mRqgPSKFL9_J95C-u3zAn1=w1543-h864-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/225089-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNdAncNFKcUzJ-dcMVY7wjXiIz__b-JiGPo98IGRYpgh9rYfmYXdF3cJfNmLkJPdI4ADPf7pGguEJveQNtIr01r3FSSs1zfMOe7Q8xdzaV_Bd70OE1wuqef5Yztiq3jEnwgJCgKskCfr_YdeLNL4SRU=w1543-h868-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="225089-"] .image-decor::before {
    content: "Lambda";
}
.p-profiles .cc-favourites .c-character a[href*="225089-"] .image-cutter::before {
    content: "Like Chocolate";
}
/* Rose Oriana shadow garden */
/*Vertical poster*/
[href*="characters/194191-"], [data-href*="characters/194191/"], [src*="characters/194191/"], [srcset*="characters/194191/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOfpKgeyGW58pYa1nMJi0RCkkxp-W6iXMAUe8j2GcRIropsdHtwWkQyaQuyxT4lsZWWbpAHvmLLnDQPpqtZDNhKnEnjLRkt7Brhcm81XKmfr66SGQxGz7MaaVNoKQ-lcMXp28kJFhIqfKSqV23_HQhe=w814-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/194191-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNDFg9rhGyJQP5-lm5Q80mLO_M1w5j2LtKszaL_C0AQrnShjTaMIR0QX46Erhq9VuthFeW9WYeBSSm50-0fy7Q85L-K2IV5_Cs3_aMEqnP_8fuORncn-xIka4-NVMZlyXBAezUFWLgetPByZKvjw5t7=w1080-h608-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/194191-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOBjM6xLnb_QMhLFCsWLSu7_kaUyFzIiXYKlMz6BUaoglYIWtH1GFWtuUP0724rHL1kPHrb0fQSEFkrqVHhoMug82deCpnrrH8IyRop7xoZoswi-stTuWQVmfI9kg508ihp8tX_f8R-YsxhmF0yTk_N=w1542-h881-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="194191-"] .image-decor::before {
    content: "Rose Oriana";
}
.p-profiles .cc-favourites .c-character a[href*="194191-"] .image-cutter::before {
    content: "Wife";
}
/* Shadow */
/*Vertical poster*/
[href*="characters/171572-"], [data-href*="characters/171572/"], [src*="characters/171572/"], [srcset*="characters/171572/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOZ2CwTRb_yVFtBZ8iETL642xWzmbjOF6uie6nfkH_VJiHhhNGwTxjjI--3c_nUh1mw3grBEXObYxa-JwLbTtRLqJ-Am2SSnQOcNehTbu-rcItnRAjPwKHWm0dRQIWaO8aiBi2dihTeT7UCyFC34jYm=w960-h1344-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/171572-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP9xHuA0MWHw_hlzG6HJcWkvRzW-z1qZRUHpF7sZsIKalUGdeQCZ1canzxlkA5_BEj7ZBbZOO0BjdLJ1uulAemMS0wuT8oPbEndjivmDQx-SqBXmjuGtEbYt8FzU9Mt4ADKQ2g3fFLm8O1kTnUZFlJB=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/171572-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN-TI3GDWF45uoymhS-o6lyWEg3Ji241oyu5xKqEQjMNo9v-1sZM15qhvJj6tCpVECOPvRrp_xBxKu7mZP0XCjdsotUults4oMMRx-5ElSUiVEsiRuiw7qvwBNG2sBya2GfUUa1QIDWXnxSPsUgwCKA=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="171572-"] .image-decor::before {
    content: "Cid Kagenou";
}
.p-profiles .cc-favourites .c-character a[href*="171572-"] .image-cutter::before {
    content: "Manipulators";
}
/* Claire Kagenou */
/*Vertical poster*/
[href*="characters/194192-"], [data-href*="characters/194192/"], [src*="characters/194192/"], [srcset*="characters/194192/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPnCjBWM92JvWgwguI3f8HxMk0VjfIyG86Go_EXsog0nKbro5CJSVqd1z6RPVp_0xWrJKN5kz6QlXRuKSkZseGmjM3Kx24WUN3_5EJ6DsVTx8iLc3kEwDCB2UbEKiwOyb2e7PmmMQ9zGCOYN73EjFzI=w1024-h1536-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/194192-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPHzU4yKCPqFQtcGu4EMj_JLvx5TrFdLMOHbIo_CXIZcss90nFL5fX29ncF7fMe2-y93yP1OoDs405gVoNuKQvb-1jk5gGZAOZmLzW_qsvGuze33dXPvwmG12wK4TEIVkts2VQy1I2bE50QF4Rm8HCn=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/194192-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP6hueiVB0N-cG19k2OqQoy1qSfK2DTZnbMFuyHnWtj8C_Rop8aFXfPo0V9E7VEk7fqg9ejrqhwcAIM4XzyVSquoTifsADw0OV7GvW2U3RyjwAkM8kDM5cxaNXpt4o5PpY707aMRR5IeGqRtX-x53_f=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="194192-"] .image-decor::before {
    content: "Claire Kagenou";
}
.p-profiles .cc-favourites .c-character a[href*="194192-"] .image-cutter::before {
    content: "Cute sister";
}
/* Elisabeth */
/*Vertical poster*/
[href*="characters/194198-"], [data-href*="characters/194198/"], [src*="characters/194198/"], [srcset*="characters/194198/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOY8MaoP5ghc3AvWoRgGKpsMPiOx_LpkOgUbYDASIart7lRTBYhro_R-9VT9jkte6gDOcv_qYRhuqQtikH_kDG4TQtssqqhT7Tg1N6Mr818fLlWWskofNJyJZSWMyb7bJj8P7XORe6pGaYw6AxFfBZQ=w827-h1286-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/194198-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczProJOn6ZSs-0hkghy8gkpq0wFBjkuWnCNBzJkD70WTq4Tbl6O4oO_t-7XKxevyCbRM5srRpdhtQCPINe-t8SpeBXN-QQpNYlKQfS99AINCjJtAKFAkOKzsh--sTNrizQXow0qPfuDLBVbSgz1fDxbO=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/194198-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczO1yu5NCXe73_CcPN4_5OVlILuHsjB3dDmdOKeqIxSyBL3rIQwnec4QrYX44u6PgyzbbZZ9Fqmt0lzy48StF5EZ1FS8ZJBiuNB7vo-1You-qT3Gq_yYHZ9qBWvxTc3I8OdjO_cwwCVgVpNuezPU2mVm=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="194198-"] .image-decor::before {
    content: "Elisabeth";
}
.p-profiles .cc-favourites .c-character a[href*="194198-"] .image-cutter::before {
    content: "Saori Hayami, cute";
}