/* Surtr */
/*Vertical poster*/
[href*="characters/239505-"], [data-href*="characters/239505/"], [src*="characters/239505/"], [srcset*="characters/239505/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPWWuu91aH8hWGnfVrenujgHz-3EMIm0y58fzSONJmDgK-bSnyp_X28UVA4rvhugD2ZO-tSL2nfxk0LJv3HckPXHpBtrBjfdYjKM7oYQsMyDL7VDGuDA4Z26pBzUMtFddbXSG4uLwAlxiSyz5RN6FYV=w686-h1063-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/239505-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNSxfP2icLoYNCnxwaDKTZg41Ib6yIu_eVVTr-BeNQ-Acglhs1s8mSGggCtuy_04dIf46oIQ_Ako4z8YltJvGWsducULj6e1ZF-VPIgU9lil4W9FKK1Z93g1JflUVzTQNTLZvc75YNFwwwjknmAsvIV=w3480-h1972-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/239505-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNmwWhSEBC1Ve3b9kthQJgOh-Av8Orzq-1sxfeVD1mCgSamN304JsrR37VkjvNAtvDf8m_YYUo8r-4jLYP32YqLt8V0N3TgWQDkc3VLLhT6iZ9bvDl2XhwKhJjEISkOakibqaJGlMyjlShsPvR7ogcP=w3181-h1991-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="239505-"] .image-decor::before {
    content: "Surtr";
}
.p-profiles .cc-favourites .c-character a[href*="239505-"] .image-cutter::before {
    content: "Beautiful wife";
}
/* Talulah */
/*Vertical poster*/
[href*="characters/219299-"], [data-href*="characters/219299/"], [src*="characters/219299/"], [srcset*="characters/219299/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOPPXmQRtN9t7GtPI994ZnEwZ56ktvcKLJJK37V_T6Yho3LFhORNZk8kJ6MSoRl0xUbnXSkOysQVnq062ecPYr6Ur7miDT-EPWrxbB84uTOBZ8if3LwDpHTi1gvDcBhiq24nFNityHutat89Jr6A4Gb=w1129-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/219299-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOnnCpGAOUXdKcWbIP92-w2jR95vGX5f4cvgeS4HP0N2PDKsnfsZ3WALdWCnfK8hVbszyscADhlT_U535lxO3fuPoF9lQIYfKOMSPKDJrv-OHREvMrdQoSYg-7Wgt3yGMDNTs2RW8wG3ub7A0Gfmrun=w1280-h720-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/219299-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOSsfsPhW1EA2SA9rk-51rZQlhPGXJQ8qIV0npI9PiSoXsBY_3VHYaa8wCKCgeWWd0Is3rxetp5-FjM_lNNHGhLyk4tMOxKW2r1rxR3vjhmMWSfxWM6rbRfIQwTxn15M_Evj8InujZL3WVox_iY84Lr=w2000-h1276-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="219299-"] .image-decor::before {
    content: "Talulah";
}
.p-profiles .cc-favourites .c-character a[href*="219299-"] .image-cutter::before {
    content: "Best horns";
}