/* Rio Tsukatsuki */
/*Vertical poster*/
[href*="characters/244156-"], [data-href*="characters/244156/"], [src*="characters/244156/"], [srcset*="characters/244156/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczM0MGDVuPVjfZ4Sb6IJyhAEPQfYLfG1KXyfsM4m2blcEhvcoP_OtWXmJP9okMBCx-ErY69EEnrYk1cZj-Rii7ROyunNgPCKA7iEzRZXHhJf9VNv4_WpSqfhlZB0mJgHJpcycEOEKXl1w_SQA4GSQpDz=w952-h1597-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/244156-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOkGSKgUnsDrVcpJiTYS0gr4silVaWIqAEp0f2XRjABxWgQTjxIuEVOLAXSyGPgwZNq2Jb_m7112Y-0OcGl9l1NIZRSYaRChUgzR9HJ23m49tbbGPCp8_Ui2lkfh8vpqB1C1Wt5GKJoZx7SLEH_ufo5=w2795-h1597-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/244156-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPLuJOtkOy-RA6UufDDhJzRxorAVAyl04gEBaYMUyqGqFueCmaEMH1Qlo0qqAkn7vp9HmJkRJGAraOt0mgYn7fhLfI8orp3NOnRA27IhzBl3VsF5UIEqMgYIhc8_nH6bTc1TWFohzNhZlV5zNLcm9nL=w2795-h1597-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="244156-"] .image-decor::before {
    content: "Rio Tsukatsuki";
}
.p-profiles .cc-favourites .c-character a[href*="244156-"] .image-cutter::before {
    content: "Beautiful girl";
}
/* Aru Rikuhachima */
/*Vertical poster*/
[href*="characters/215644-"], [data-href*="characters/215644/"], [src*="characters/215644/"], [srcset*="characters/215644/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOdm1IUHOiY0Z3OxZqyR2To3s6NcJrIKpg4p7eGYw0LwzuzgxSeu-l-kEx5Q0TbyE098xc0ytm0OiSed5hj3sFkhnwKS8xHukhjoKji08hu0CxILA3eOFKpbhLzbEdbcmjDpoxgj-TSQ8q16Op5PN5b=w945-h1440-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/215644-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNXwAgx16lzFL9wkkahPz64bQvXf8Uuvve9oSxFVGDOTErP3Yz9yc2YzUYCTWRxZJZde88BU0TcZmYISuaJM6T_CjWhkYrIOO0i7zHCfPd_AkWyQb0M3-vS7DatR7f_M7VzuZN3Zgs_-uTSpNYg9EE0=w2299-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/215644-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMuaVAwWBhich0Q_T5N723MAp67Qk9_6LaVyC692Lnh41osiueqJ53YuMYVAdSmhbjhz4n7_Onf1Uml31L6xatdteHQaYoMbvk5C5WSg2moFcd3wd2tP23VecAbLDCaWYfmoaAsBQfTRImT5eKTqkX1=w2033-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="215644-"] .image-decor::before {
    content: "Aru Rikuhachima";
}
.p-profiles .cc-favourites .c-character a[href*="215644-"] .image-cutter::before {
    content: "Beautiful girl";
}
/* Karin Kakudate */
/*Vertical poster*/
[href*="characters/203870-"], [data-href*="characters/203870/"], [src*="characters/203870/"], [srcset*="characters/203870/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPKKHXbkRv4C6WqDMb6Ws80fdlVzbfht3zd_tGtdSm-ms1-Ek6tRmT04UTDTNgYC0SNGTxD1xHvQXQgou6L_1wh8gXE-IzIJEXy_acZ8a1uhlS_X8yzKoG2A-WCcGGlu9El6DDCWUKdMmpm5c4UeWeD=w720-h1440-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/203870-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczM11TCndmQof8DKUdPf0tT8RORT4Tn-EKWZACVIp5IB9gAXdFKmLxJGgKELseIbVFclzJ_-_Sl3EPxx_hrfKNMM9TS9tmzmnerLNjnVKTwlOpjQoXqA3-3wprKHSDRSH0afClft934VjOlGXT--8i8k=w2357-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/203870-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNEXqW5SXiIuqi0LsDIGiWJb-xKRbI3SaEeGZQ-jpFiYdOjzwggL4fMgHgAwj2OVGArnPdsXkR8m4VYFQXw3kwHkRyHKMh9gQ1KLS38eA3BGaAD8zEzEVd8JIP7SX9nYUttYl2ZYsyhYhMakyuSfzqI=w1762-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="203870-"] .image-decor::before {
    content: "Karin Kakudate";
}
.p-profiles .cc-favourites .c-character a[href*="203870-"] .image-cutter::before {
    content: "Like chocolate,wife";
}