/* Yukino Yukinoshita */
/*Vertical poster*/
[href*="characters/67067-"], [data-href*="characters/67067/"], [src*="characters/67067/"], [srcset*="characters/67067/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551035.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/67067-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551028.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/67067-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551034.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="67067-"] .image-decor::before {
    content: "Yukino Yukinoshita";
}
.p-profiles .cc-favourites .c-character a[href*="67067-"] .image-cutter::before {
    content: "Saori Hayami";
}
/* Hachiman Hikigaya */
/*Vertical poster*/
[href*="characters/67065-"], [data-href*="characters/67065/"], [src*="characters/67065/"], [srcset*="characters/67065/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551029.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/67065-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551030.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/67065-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551034.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="67065-"] .image-decor::before {
    content: "Hachiman Hikigaya";
}
.p-profiles .cc-favourites .c-character a[href*="67065-"] .image-cutter::before {
    content: "Story";
}
/* Shizuka Hiratsuka */
/*Vertical poster*/
[href*="characters/67077-"], [data-href*="characters/67077/"], [src*="characters/67077/"], [srcset*="characters/67077/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551032.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/67077-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551031.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/67077-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551033.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="67077-"] .image-decor::before {
    content: "Shizuka Hiratsuka";
}
.p-profiles .cc-favourites .c-character a[href*="67077-"] .image-cutter::before {
    content: "Awesome teacher";
}
/* 02 */
/*Vertical poster*/
[href*="characters/155679-"], [data-href*="characters/155679/"], [src*="characters/155679/"], [srcset*="characters/155679/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551040.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/155679-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551042.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/155679-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551041.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="155679-"] .image-decor::before {
    content: "Zero Two";
}
.p-profiles .cc-favourites .c-character a[href*="155679-"] .image-cutter::before {
    content: "Slory";
}
/* 016 */
/*Vertical poster*/
[href*="characters/155678-"], [data-href*="characters/155678/"], [src*="characters/155678/"], [srcset*="characters/155678/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551040.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/155678-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551039.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/155678-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551041.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="155678-"] .image-decor::before {
    content: "Hiro/016";
}
.p-profiles .cc-favourites .c-character a[href*="155678-"] .image-cutter::before {
    content: "Story";
}
/* Kou Yamori */
/*Vertical poster*/
[href*="characters/177824-"], [data-href*="characters/177824/"], [src*="characters/177824/"], [srcset*="characters/177824/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551077.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/177824-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551071.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/177824-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551073.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="177824-"] .image-decor::before {
    content: "Kou Yamori";
}
.p-profiles .cc-favourites .c-character a[href*="177824-"] .image-cutter::before {
    content: "Story";
}
/* Nazuna Nanakusa */
/*Vertical poster*/
[href*="characters/177826-"], [data-href*="characters/177826/"], [src*="characters/177826/"], [srcset*="characters/177826/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551067.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/177826-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551075.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/177826-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551073.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="177826-"] .image-decor::before {
    content: "Nazuna Nanakusa";
}
.p-profiles .cc-favourites .c-character a[href*="177826-"] .image-cutter::before {
    content: "Sucking mosquito";
}
/* Midori Kohakobe */
/*Vertical poster*/
[href*="characters/177825-"], [data-href*="characters/177825/"], [src*="characters/177825/"], [srcset*="characters/177825/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551068.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/177825-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551069.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/177825-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551074.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="177825-"] .image-decor::before {
    content: "Midori Kohakobe";
}
.p-profiles .cc-favourites .c-character a[href*="177825-"] .image-cutter::before {
    content: "Good maid";
}
/* Hatsuka Suzushiro */
/*Vertical poster*/
[href*="characters/177821-"], [data-href*="characters/177821/"], [src*="characters/177821/"], [srcset*="characters/177821/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551078.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/177821-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551072.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/177821-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551070.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="177821-"] .image-decor::before {
    content: "Hatsuka Suzushiro";
}
.p-profiles .cc-favourites .c-character a[href*="177821-"] .image-cutter::before {
    content: "Mmm nice";
}
/* Miyo Saimori */
/*Vertical poster*/
[href*="characters/193330-"], [data-href*="characters/193330/"], [src*="characters/193330/"], [srcset*="characters/193330/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551090.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/193330-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551089.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/193330-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551086.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="193330-"] .image-decor::before {
    content: "Miyo Saimori";
}
.p-profiles .cc-favourites .c-character a[href*="193330-"] .image-cutter::before {
    content: "A hard childhood, but a happy future";
}
/* Kiyoka Kudou */
/*Vertical poster*/
[href*="characters/193329-"], [data-href*="characters/193329/"], [src*="characters/193329/"], [srcset*="characters/193329/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551087.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/193329-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551088.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/193329-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551086.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="193329-"] .image-decor::before {
    content: "Kiyoka Kudou";
}
.p-profiles .cc-favourites .c-character a[href*="193329-"] .image-cutter::before {
    content: "Good man";
}
/* Aliceliese Lou Nebulis IX  */
/*Vertical poster*/
[href*="characters/155676-"], [data-href*="characters/155676/"], [src*="characters/155676/"], [srcset*="characters/155676/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551100.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/155676-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551094.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/155676-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551096.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="155676-"] .image-decor::before {
    content: "Aliceliese Lou Nebulis IX";
}
.p-profiles .cc-favourites .c-character a[href*="155676-"] .image-cutter::before {
    content: "Juliet";
}
/* Iska */
/*Vertical poster*/
[href*="characters/155497-"], [data-href*="characters/155497/"], [src*="characters/155497/"], [srcset*="characters/155497/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551098.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/155497-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551093.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/155497-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551096.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="155497-"] .image-decor::before {
    content: "Iska";
}
.p-profiles .cc-favourites .c-character a[href*="155497-"] .image-cutter::before {
    content: "Romeo";
}
/* Sisbell Lou Nebulis IX */
/*Vertical poster*/
[href*="characters/186221-"], [data-href*="characters/186221/"], [src*="characters/186221/"], [srcset*="characters/186221/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551099.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/186221-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551095.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/186221-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551097.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="186221-"] .image-decor::before {
    content: "Sisbell Lou Nebulis IX";
}
.p-profiles .cc-favourites .c-character a[href*="186221-"] .image-cutter::before {
    content: "Cute sister";
}
/* Aquamarine Hoshino */
/*Vertical poster*/
[href*="characters/185313-"], [data-href*="characters/185313/"], [src*="characters/185313/"], [srcset*="characters/185313/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551112.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/185313-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551115.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/185313-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551103.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="185313-"] .image-decor::before {
    content: "Aquamarine Hoshino";
}
.p-profiles .cc-favourites .c-character a[href*="185313-"] .image-cutter::before {
    content: "Manipulators";
}
/* Ruby Hoshino */
/*Vertical poster*/
[href*="characters/186921-"], [data-href*="characters/186921/"], [src*="characters/186921/"], [srcset*="characters/186921/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551117.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/186921-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551104.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/186921-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551103.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="186921-"] .image-decor::before {
    content: "Ruby Hoshino";
}
.p-profiles .cc-favourites .c-character a[href*="186921-"] .image-cutter::before {
    content: "Manipulators";
}
/* Akane Kurokawa */
/*Vertical poster*/
[href*="characters/195178-"], [data-href*="characters/195178/"], [src*="characters/195178/"], [srcset*="characters/195178/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551116.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/195178-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551106.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/195178-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551105.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="195178-"] .image-decor::before {
    content: "Akane Kurokawa";
}
.p-profiles .cc-favourites .c-character a[href*="195178-"] .image-cutter::before {
    content: "Good actress";
}
/* Frill Shiranui */
/*Vertical poster*/
[href*="characters/208888-"], [data-href*="characters/208888/"], [src*="characters/208888/"], [srcset*="characters/208888/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551114.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/208888-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551102.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/208888-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551107.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="208888-"] .image-decor::before {
    content: "Frill Shiranui";
}
.p-profiles .cc-favourites .c-character a[href*="208888-"] .image-cutter::before {
    content: "Visual/Wife";
}
/* Tomo Aizawa */
/*Vertical poster*/
[href*="characters/132225-"], [data-href*="characters/132225/"], [src*="characters/132225/"], [srcset*="characters/132225/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551120.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/132225-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551119.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/132225-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551121.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="132225-"] .image-decor::before {
    content: "Tomo Aizawa";
}
.p-profiles .cc-favourites .c-character a[href*="132225-"] .image-cutter::before {
    content: "Mmm, tomboy";
}
/* Misha Necron */
/*Vertical poster*/
[href*="characters/177217-"], [data-href*="characters/177217/"], [src*="characters/177217/"], [srcset*="characters/177217/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551132.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/177217-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551129.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/177217-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551130.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="177217-"] .image-decor::before {
    content: "Misha Necron";
}
.p-profiles .cc-favourites .c-character a[href*="177217-"] .image-cutter::before {
    content: "Cute";
}
/* Sasha Necron */
/*Vertical poster*/
[href*="characters/177218-"], [data-href*="characters/177218/"], [src*="characters/177218/"], [srcset*="characters/177218/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551131.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/177218-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551128.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/177218-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551130.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="177218-"] .image-decor::before {
    content: "Sasha Necron";
}
.p-profiles .cc-favourites .c-character a[href*="177218-"] .image-cutter::before {
    content: "Cute";
}