/* Kanae Kochou */
/*Vertical poster*/
[href*="characters/173733-"], [data-href*="characters/173733/"], [src*="characters/173733/"], [srcset*="characters/173733/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMHMRFxnwocbUaFg3UDUbkEeo7WkY6DMWB8SMRaB4OjaFUExRRMF4TBOyqjNEgRUCW_ENZEFvvGrUs4syb_G9uzQG9S-5fGHJ5NiZB8yyUHLpKq29lzCzm7SZOLRapGhdc0YFD6cOCbet-5Qs_t0rqu=w665-h1204-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/173733-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczONsvdPGCr1MDhF9aiTpTFPJcqR438sj_Cfn-LTCIteeiOeFKMNnqPe7CADOiwc_OpgHxdDEdH46L2nuoFKeo64LYM20rIilZ7_8UVBH3LGC6Y29LmYn917hNPvJzqZ2zJFGRKh4q9ZLEGPBkOaIILl=w1637-h1158-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/173733-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOLRiF28phcI84waV-GvedKaT1QHgKWjkgUJ3gZznRDd8vGW75IlBiSp1jcNpoQi9vnyyyDi6h7LVPzanLuhFwp97y05__WW97vDqs6JgspsvAQkjMZM8Dw51ug_hj4YL9U1xU_aRZ3M8QK4uhKWkY3=w1500-h1000-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="173733-"] .image-decor::before {
    content: "Kanae Kochou";
}
.p-profiles .cc-favourites .c-character a[href*="173733-"] .image-cutter::before {
    content: "Like";
}
/* Shinobu Kochou */
/*Vertical poster*/
[href*="characters/146736-"], [data-href*="characters/146736/"], [src*="characters/146736/"], [srcset*="characters/146736/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPBOBIM9wFf5LjS7Wgy-8zJ0-tA6WhVa-hmFJdwifM-PRNbzKbD_e7TEBu4nl9lLsM261HOxFQh5ED3j6VFy_URxRkY_HcjShySu2LZ8fTMFa_PELcJa2lOJl1OTWENgghZkjoF2kqD9K9iBsiBRves=w665-h1204-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146736-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNQzxhsWRo04Xzc39mxE9_hTToxd9JMtX6Tr7uF4TWHM__2supmdxUC_x2pU5iDkatTlUiOBC0FbkwYSt8LGU_G2mpeeyrwfKn6UzEwepYsyAsQO9CHUeFZyW87NRNR43qr4smKUms3A91N7oSYGsS0=w1699-h1000-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146736-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMnXi3LJB1ZWYZwYeBsmpxah0NRNqwSHzWNqbZu_PNiL5J9SOmTtV5vISp8IzDP8ST1qH5-2FBflyX-DVn-vDTCdaoS6SrT7zeGbyYjzsDftpW0yg68GcVRetKuOn4Pe2a6zA09agDZUsWL8vO6L88Y=w2440-h1532-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146736-"] .image-decor::before {
    content: "Shinobu Kochou";
}
.p-profiles .cc-favourites .c-character a[href*="146736-"] .image-cutter::before {
    content: "Wife";
}
/* Kanao Tsuyuri */
/*Vertical poster*/
[href*="characters/151142-"], [data-href*="characters/151142/"], [src*="characters/151142/"], [srcset*="characters/151142/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOEEUaUfCDrH62jc-dsaAb3Nom2SPtxPzOXf-KU9JsKcC3ggZNn6mhX0tQHSXemsWS2u7uE8HAub6INA-wyFkOK2OJbrLKp_Y9dASmPPQ5xyC1FwDh4N7pW_tnEQnJkmotyG0tLFRjfRSStr_yXKU-t=w665-h1204-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151142-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOU-wxPAgLc5Fn3s2Qlu1mD4zblCgLDe0bCfoXn9-qLphiHbEGs0fRCrz0WXCvIlhN2ZHpRWHNNHuQ-K538EXHXxyz9lbRoVKKt8vsS5ocZ13sztlV92ajAkFB7Px1I5xKJlVfiN6GndB-tu3VOMFPl=w1875-h1033-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151142-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOgJqMImtlbDLtyCFR1DzXW4XMVNXKxEYmFh6B-A34PaR--woNkOMPL3AN61gqWjkz849BQb8q80Yu-nowPwfYFqI0kiMPlyIIrfrDN9FbDV0kM4lWHvwoV86nu5hlMFKFEE7Zn066UxPzOhjHmwObM=w2439-h1678-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151142-"] .image-decor::before {
    content: "Kanao Tsuyuri";
}
.p-profiles .cc-favourites .c-character a[href*="151142-"] .image-cutter::before {
    content: "Hard story";
}
/* Aoi Kanzaki */
/*Vertical poster*/
[href*="characters/173537-"], [data-href*="characters/173537/"], [src*="characters/173537/"], [srcset*="characters/173537/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMnXmMglgP09V0n77mcqvm77hJwOuJ6XbSBm9evRaJqGNsoS7GCaoub1zXU_IB1Zihk1Ty22ueXloM-WwmB4wHiCIcADQE-UUQ0wQEy1kSN8rcbjxecFnHlSKflEFQTFX2c2RHHNkFeDKMW1KSpRiLq=w665-h1204-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/173537-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPybh5ypczUJrDS9bJXWg3hcwfReMImbnFoR2mYstuC68JapOxkZW3e33F_DFLk0eWNNgCZQDckrt5DJPAGq_lGlo-4E85yGzW83t6cAC-j_101D0aY44xeysmQ-4xR2y_hXdV_EdZYJKkfGbe79mAT=w1769-h1080-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/173537-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNM_ELWZFY2EHJ32COj0sydzkOT1Qp3oy1UcAzEkxtGKK_atPgAYp7l21VjeRMR11kiTmayXy-ywY5mrLNk7iSTDycJ9PKJUMowuyrIPaJeKFFF1DmD-cUC6etNBf2rhTWoA2aIQgjy85Gelg2FWDr8=w704-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="173537-"] .image-decor::before {
    content: "Aoi Kanzaki";
}
.p-profiles .cc-favourites .c-character a[href*="173537-"] .image-cutter::before {
    content: "Good support";
}
/* Mitsuri Kanroji */
/*Vertical poster*/
[href*="characters/151145-"], [data-href*="characters/151145/"], [src*="characters/151145/"], [srcset*="characters/151145/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczM8DOiu9GC8qEYkGJbV3I6SpWnf5vgdkL_d3-1Tqn4Yc6yP2VFr7gkj-Ahq-zJLjwFous-fv9u8ew9u11cWS9ZG85JitKqJQ2RdCGqg5TpjJ25tT-1ysjxVq-7EcAXENcWt6BokTphxIqD2WjMNDClJ=w1406-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151145-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOYUN1QMiLqZWOn7YdUFRzPkIMoctVNDJeaW2FFq-k-pGkzoSmq75YTOwgPRzSPkI9QL3pLF-qRmVfk6OqUs_iS_GL8hCM62r7pBtDc6udKTkcCQ4U-vjfFq_-58OcGmZqlFT6jezh4KoCdYfq-qiXD=w2000-h1111-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151145-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMve0n6JyLPydSsAb_KnAybVfFbzcp9e1XoWmwKgZbgWz8gU-B6WG46s6qeoptCQEhgcnztXs-8i2sviWlJURCSQJevT5eSZDPBV6mnybOtayKgNZYGu9VSRMPOmaFK2lBrjIFX4sVajWyku--OUABx=w2445-h1402-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151145-"] .image-decor::before {
    content: "Mitsuri Kanroji";
}
.p-profiles .cc-favourites .c-character a[href*="151145-"] .image-cutter::before {
    content: "I feel sorry for her";
}
/* Obanai Iguro */
/*Vertical poster*/
[href*="characters/151148-"], [data-href*="characters/151148/"], [src*="characters/151148/"], [srcset*="characters/151148/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczM8DOiu9GC8qEYkGJbV3I6SpWnf5vgdkL_d3-1Tqn4Yc6yP2VFr7gkj-Ahq-zJLjwFous-fv9u8ew9u11cWS9ZG85JitKqJQ2RdCGqg5TpjJ25tT-1ysjxVq-7EcAXENcWt6BokTphxIqD2WjMNDClJ=w1406-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151148-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNFCu1CHSDfslbBSDOe_XF4xpkB86-duoKqKgdfxi2gAYBq3A3Qo58HQMXZjuU-CKCwmI4oDjP7B1XdNlnnF6YbDBxsgPeajEisl2P0NfJbuNJhvZppgi0oUFA8SL6A2a-3ojn51aIEFQCBSR1s967A=w1440-h953-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151148-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPc26796EkdMwwfPpgPz7N6Sr53uR-maJcB-jm0tfW0pPcRcvdu2E_bnWj_UAqny7WKekbOfAH3r4eoAe8NbalXegt6ah_NMvUzRQudiuYOh63YQiT2Wpezrmdnm8mW9ooqP_mg25WVLDJ_e4lduZLb=w1500-h1000-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151148-"] .image-decor::before {
    content: "Obanai Iguro";
}
.p-profiles .cc-favourites .c-character a[href*="151148-"] .image-cutter::before {
    content: "Not bad";
}
/* Nezuko Kamado */
/*Vertical poster*/
[href*="characters/146157-"], [data-href*="characters/146157/"], [src*="characters/146157/"], [srcset*="characters/146157/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczP_mZpl3G15BNfuQ2gSCVyJemuFGW5cNr1GMOPmquWuZjnREjXQH_rxIhCZptJ841Juho2hu4LOtT8VbF8D-85EzzQbqdsOu6sijdmtnwu2S03aFeuU9ht1KRmpA1fnn0dvG1IaboOojFysee0FANLa=w700-h1184-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146157-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMQBfwMvB5W3v3OOzUV-YyUtMNnAHiz02wb3UVWZfp77PHZKkUxBz97eWggssQKMQzU5PM69ZyhntCSSZd7eDqLALsMLpQRQSwGTiEPZrieG_InX9Lj_78RvcVwWpkyVaCefGqhpqwdxE8q1fCG4Dn5=w2000-h1000-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146157-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOf6lJISpyIEuMpAfUyYQy4C4zfpKrb8ECvIla0ESNS6HrOU5s6yo2hJODjL7hvkXBtRD1zeAboMheoW2A72GK08g6vdnHk2TisdIVU4OOWUo5-VZrr_rG-I3DWgtDjxkbjIuclCk5oDEfNHylR_qo1=w2048-h1434-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146157-"] .image-decor::before {
    content: "Nezuko Kamado";
}
.p-profiles .cc-favourites .c-character a[href*="146157-"] .image-cutter::before {
    content: "Happy end";
}
/* Tanjirou Kamado */
/*Vertical poster*/
[href*="characters/146156-"], [data-href*="characters/146156/"], [src*="characters/146156/"], [srcset*="characters/146156/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczP_mZpl3G15BNfuQ2gSCVyJemuFGW5cNr1GMOPmquWuZjnREjXQH_rxIhCZptJ841Juho2hu4LOtT8VbF8D-85EzzQbqdsOu6sijdmtnwu2S03aFeuU9ht1KRmpA1fnn0dvG1IaboOojFysee0FANLa=w700-h1184-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146156-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMKxiUmS5zT0cuXMVIZ2MmgE3W0yQ4kWNk9pJkx6tSwciIgr5wOiSw6jEeGTnXAkAk6qMs8WMrSOMzxCcM_wRdH8ZTAnXWnlo6r8VekCm1yLThnee_5FLSS3rJUK0NN4JDyQKUMMUKPgyrjxPKn2Ram=w1920-h1080-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146156-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOf6lJISpyIEuMpAfUyYQy4C4zfpKrb8ECvIla0ESNS6HrOU5s6yo2hJODjL7hvkXBtRD1zeAboMheoW2A72GK08g6vdnHk2TisdIVU4OOWUo5-VZrr_rG-I3DWgtDjxkbjIuclCk5oDEfNHylR_qo1=w2048-h1434-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146156-"] .image-decor::before {
    content: "Tanjirou Kamado";
}
.p-profiles .cc-favourites .c-character a[href*="146156-"] .image-cutter::before {
    content: "Happy end";
}
/* Daki */
/*Vertical poster*/
[href*="characters/174151-"], [data-href*="characters/174151/"], [src*="characters/174151/"], [srcset*="characters/174151/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczO_Hq3UmrrltKgpgDOYYEHOF5nPDHmtBiXU6aAJbErAJw3EqDY7nZUQyCLBEKSwnjOO94GNwiDI_6kJA3ykzn-sks5GF0or3Zehk8NXmq8lO_01Va7on1OWjPHYxl4cTD3zP3gREtDteb-iMYBMp3L8=w1334-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174151-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP3HVYFlr8SVi-Zr1Ed9PgMkb6KTEMr2zhddQFNta67NYoKFuLj01Eg5c43aXajbFILjeRwTkMdP0nNRKIoRJEdHW-o3qhECynPxoRWqjZifLrPlPvfPH17yXxhIyURb5dCToetg6T1raN4fTPNqYZP=w2439-h1725-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174151-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOHiwJdhoh_YJvLWNSVl54UFtgxqTuRovIJiEF336L35v4tLWwuZovrRFSR8FhT1UnHhLxlgvb0H-lIuu7TfTy5FG_xRQImHwtJWtIIEil4BW6ayZtsjX9syxVUDT-AIAUckvplYLCKR3evpsZycOUK=w2048-h1291-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174151-"] .image-decor::before {
    content: "Daki";
}
.p-profiles .cc-favourites .c-character a[href*="174151-"] .image-cutter::before {
    content: "I feel sorry for her";
}
/* Muichirou Tokitou */
/*Vertical poster*/
[href*="characters/151147-"], [data-href*="characters/151147/"], [src*="characters/151147/"], [srcset*="characters/151147/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMsSJhPd28LWvxXHlwaupYCoUkdJqCDOyp73kYa3oSt30QvcBf7XJXALF5HNpx4XmTSWyjLc-KPbqucrgvTDy2sL9U2EhuOSs8R2iU71BwQgmZ9ZBoEZFN0Tk1EvUOb3vIHCQEmQX0VeXT5mJqpaaB_=w1368-h1989-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151147-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPUxc_q_eMWHMqmMOx9eVPFiWixSwDhWI2ZNhYYqIpwq8iDGqxin_S0fN_kTll0XXlHzhloLExbI5hxUMi_bt7kBh2rusKLRkCYL3usUdvr380gKrxkIHcqE0px8uuD9UG5vHPLig3RIBWmDLnT3mvt=w2441-h1322-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151147-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOim8b5IjqbfrRR6jwXItLQ4OlpICwLwMqd8Fmoax2qGXxPjrSK1A3LCiHH1PCLse4vHN5dXG_xEPhsz-vcVpTmZaU5bEzLOH8u_5g3pV7rF1xDZZe4iRDk86EpXWJ95oyekYkbBxzI72QcEVqEUUic=w2300-h1725-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151147-"] .image-decor::before {
    content: "Muichirou Tokitou";
}
.p-profiles .cc-favourites .c-character a[href*="151147-"] .image-cutter::before {
    content: "Cute boy";
}
/* Inosuke Hashibira */
/*Vertical poster*/
[href*="characters/146159-"], [data-href*="characters/146159/"], [src*="characters/146159/"], [srcset*="characters/146159/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOkcXTO_V46pZaT3gMnrYPx8CzivN5MMY5YHoYI3tszNn5EUwoDazwMiKQdY1Xx5A6XyB6YMQyc2GgsQqbCwOYzuj5e5bcmExuUarNV4BgRoemi7HfOi_GLeLUavifCR9g5sYHVoNn7hecmMIwp8McO=w1432-h1968-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146159-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMkPri7r5ESVpjQxsbFC_MzfniOPFdvWQh1IQUmBscjU_0edGKpspnfWBuBydrzdJPzVlJmvHEMbsM7NEKfZNaJsNXlrTBcYRj2x59X2sG_E0YkW7wQ8dypTcHGFyPQ5hZ90yiTm2bATvhMjAJTUyln=w2439-h1727-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146159-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNO5eJlKo__ZXNr1e_ASCs-3Z2KQ7RCvkreyi3k5G_ZGo395TkplJQATIW298RRxy398fAWCDn-oBLuikF1-h2m7oL72vmpU2UlIjwIRNyKzWyJaGeGPeQGnDaKkDgelhiW1ggm3puIypq1_LL0gI9w=w2439-h1495-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146159-"] .image-decor::before {
    content: "Inosuke Hashibira";
}
.p-profiles .cc-favourites .c-character a[href*="146159-"] .image-cutter::before {
    content: "Cheerful character";
}