/* Miyuki Shiba */
/*Vertical poster*/
[href*="characters/55741-"], [data-href*="characters/55741/"], [src*="characters/55741/"], [srcset*="characters/55741/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOU6UQOFDeYV80HpP4BoJhWpyYO3IanziYxAnLuXrxPqIRsASntK19Uj5BoldVonkSQkWPR3AyfH-8G32wr_WWZiGywleEnOQY4JZQ0GCjSq-C9AKIG2O43jY9k1pwvHufz5G7NiPW8u13yAA3IBuU2=w1400-h2489-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/55741-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPzu-eEPBWzW98hMtY4oNoXfvmDeKqZkE7Lq6qrtf0ya94rpBBkKXNzw5qK0VqYgaUcgUpLIGMl_BqoItJnMuxFjqeaGLtcI1V13E3yFPm4uIPQTS2C1w-vYuD9Bono9nsRLht0E1FDzBzSJ86qI6Wg=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/55741-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMe04Hei_G_F9CTe3J9pjHqDp64Iyq0A60YpTzzTXp1wx9nXX16AOyNeOTK4pmk8zw-WTKjU2L6DH0HO3EGAYi8OVpInr7NMPInnY6Yzeq53ikqOlAeQWchtnAPLcd2LAQwi-Sn2fHZWegfTr-DqVH1=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="55741-"] .image-decor::before {
    content: "Miyuki Shiba";
}
.p-profiles .cc-favourites .c-character a[href*="55741-"] .image-cutter::before {
    content: "Cute sister";
}
/* Tatsuya Shiba */
/*Vertical poster*/
[href*="characters/55743-"], [data-href*="characters/55743/"], [src*="characters/55743/"], [srcset*="characters/55743/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOU6UQOFDeYV80HpP4BoJhWpyYO3IanziYxAnLuXrxPqIRsASntK19Uj5BoldVonkSQkWPR3AyfH-8G32wr_WWZiGywleEnOQY4JZQ0GCjSq-C9AKIG2O43jY9k1pwvHufz5G7NiPW8u13yAA3IBuU2=w1400-h2489-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/55743-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN1cxGRZLFijKS58z-FKiD6fSxaTpulzKPOj-_zME-xYVQTBR7BMSJnPjAa1CgctPzSY7b9CfIpe1v_km3fq-IFQ8tBvfhn9JgnM-uzUpCkrhOSf0BH3adccqBSxs5P5Xqrn2wLWljIo9eL66VShiaM=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/55743-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNhfWwILgO8yuIJ6oyd7Vvu4AVRwF843XaO1I_gYkrPtzml2tTsK5L5wiyg3cvyzFd1jb43O-u4_aFrutZrw9hRSDRP74iG2RvnuO6qG80bc7M560JiTcnw6lelUNCervh80F4u6JdIucdLPc8_LxQP=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="55743-"] .image-decor::before {
    content: "Tatsuya Shiba";
}
.p-profiles .cc-favourites .c-character a[href*="55743-"] .image-cutter::before {
    content: "Imba";
}
/* Maya Yotsuba */
/*Vertical poster*/
[href*="characters/106745-"], [data-href*="characters/106745/"], [src*="characters/106745/"], [srcset*="characters/106745/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMknIk7qsd3FFH5XE5ZhZcriXfE0ea4gr7yVEE5jE1UaU2G2syIk4T7Fno14qOs-dzBiFiy25mcS33i3rAqOmGWpdBeCLRZF3FMEhE-7k1pjkU_YIuBT2ihjZg05ke4xEKHvPSeBkC5btwzZQ4LrlTm=w1000-h1414-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/106745-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN_WFFzyzyC8O4yEQs4f2ZZ6gRE78BGNpPdhOtkbbh_xrY1YaJD8gNeBjpzrFHhle89CHhhftUoQTR2-rKff-kGV3EYpixwjGviJYqbhwGyg18KvHfVMckesYz9CmSlv1NwX93VRoUDNaNwZUdEM6o4=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/106745-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPYQAvArY6bs2OmXQeH9BeTX8X25hrqrkI3HgUfXoOk8lfRvQrfgRxI5HJHV-Xg2VAgOTNgUvJJvmaSsSevTw2wQAuL6u4BMfg1qjZRpn16cNzmHmIO9cf8OA2-b2uc08hYDnAQ10MrFlBpkrExTVGh=w844-h500-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="106745-"] .image-decor::before {
    content: "Maya Yotsuba";
}
.p-profiles .cc-favourites .c-character a[href*="106745-"] .image-cutter::before {
    content: "Mommy";
}