/* Suzutsuki */
/*Vertical poster*/
[href*="characters/169697-"], [data-href*="characters/169697/"], [src*="characters/169697/"], [srcset*="characters/169697/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPWBniMgo-sdHYSFKjHtsmyw6mNr9gMnv28HUZgld1JQvqvhALyVWH4npSBC9Nh2kgpYYquySis1dGv-Jos-4BV3JqCZYZC3l5KQb2F0_Jq18TfU2kboOmwkYZ18V7a61D3avYiE0cZMQdH5emD9O6F=w614-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/169697-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOCIqufMYlX5nBVwo4b4BH2W2OFzgHvCJTupSgLShP3FECc8eSZzUGkP0xqQ1GWwoA9yUgDmYMO3p8uJ-Z6IVVgM3xZwD_VjYPoYAzsmjxRwTMwMBV70Nmcd-n78W5eIgK99Um2BxNXK2BJ4w0j6SbB=w1253-h720-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/169697-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMUZeTzMlejz2P7eQYVWn00x76a8do1gXCmMGXW52NCgiV5-yCx393R9lTYyKbBgOBL2no9-Uha0allOuoNxdaK9ei0gC9pxIsme-oh43We9lxoaV1n8qAsjObBVCYSPBouDkhPonql_ISwgblvo8SV=w1260-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="169697-"] .image-decor::before {
    content: "Suzutsuki";
}
.p-profiles .cc-favourites .c-character a[href*="169697-"] .image-cutter::before {
    content: "Wife";
}
/* Fuyutsuki */
/*Vertical poster*/
[href*="characters/222720-"], [data-href*="characters/222720/"], [src*="characters/222720/"], [srcset*="characters/222720/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPtqLKvFpMGxvD8zdydC71TW7yAvOQb0kpFi_83QrncjHN8LdeAUDb7K9CJsZrnZH9-ZXwVPLDUXRcMybPP2BfKgrU78bnqUHvy4DaCTH0YWFOTh-bguH8FKSMhblDtaKIwcrCJxU-JUySLcNCWkMKa=w563-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/222720-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP1nUdgzPMJVfw90IBiokQie78V6-2wvnrCFckUFAAMi6ZQTygpezg2GVmcPFBAFmZ_b7IzUilmPV4OddsZRDI7U_JWxMMjzo6ooAifonCDSwquxpcvIuboCBLmu2oNh8ZhZXPer16LI7TVEcnNUM01=w1271-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/222720-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN2xHgqNZCHdqNHK8znp0GzP4ps6LP3l8Xkem4v-VbFig1I8E9A6XF_EHROhmsYAIhK4xyQBpyoTVLsagUcuC9n0sWD0PNKYGlLx0LVWUs9owcdg9rNLhO7bX0qb7xkO2RlLHGeNiElenwZH44Wt4xh=w1200-h850-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="222720-"] .image-decor::before {
    content: "Fuyutsuki";
}
.p-profiles .cc-favourites .c-character a[href*="222720-"] .image-cutter::before {
    content: "Like Aki class";
}
/* Haruna */
/*Vertical poster*/
[href*="characters/120119-"], [data-href*="characters/120119/"], [src*="characters/120119/"], [srcset*="characters/120119/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNLme9OjhkeYjI0s27OSR1zGx78fggrUp9ZAoD-lSV37rkx5FVXkfctlHc3fZUwb2l2A3Inlov27wnb7SFiiXAuE7EqduHMTUJY2SnI8pNUWuzh9RmjcKx43o7VjB62_VBUpFcrZJWNOOrWp2IPVoLJ=w638-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/120119-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN0f1SbLW0CWeBsn5w3Mif7bJraleMC_LBQtMaQUpcSiqsc9Su43m6_K4_hUte2NTNsZmC_4A0i-xcBn4eVCUP1x81A_9geUbJMMBllN4gstlppmbG90B6iHgk6PGY3OBsGeIR7LX6co7YiIXP7EZt6=w1276-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/120119-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNdFrQJ7YOtlik6hTtvhR9sszc_Ods91b5Wl7hoBaL-hUrUKtehEVZ20SW-wXgsv6-zpf3wR-dZOL-CtDX8mFunbowVZFmTdm4tpln0bmjS1Pw-vbOPI7XdX3WgLLKPf6PmWVBh7Id0htm3rXgnGRS4=w1279-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="120119-"] .image-decor::before {
    content: "Haruna KC";
}
.p-profiles .cc-favourites .c-character a[href*="120119-"] .image-cutter::before {
    content: "Wife";
}
/* Shoukaku KC */
/*Vertical poster*/
[href*="characters/122531-"], [data-href*="characters/122531/"], [src*="characters/122531/"], [srcset*="characters/122531/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNFYuKNab-8KCVm5FmoRm6pFNJ5V3BBAkBMhNVZcORBHG6KVG8WUWX3Y6hVUdhFPUorVXdcemIRn_Zadb-rIXLbJiC2Gy2sNioW4O4TBwf_bNCIsobglaWdoUCrpFbSODpFpw66u5pdCnptdHR89_33=w549-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/122531-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczP1NV0gYt-C7FHKlOPR9-RfBcYbk93BhuIX5D5eYmcObJNAEPtpk5Lr5K9Rc31UxMP-1Qy3dFKW3AWM5ANwtzv35rbzUgM8-BGfttzS8D1asNYLRK1evWo7gP6nM9v83A74IMJ3vySHvSrxdaEFe9yD=w1260-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/122531-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNHir_4goNTmyoab48jpTgGjkrwQRZv1f3qVY9WhRaU-ZHV9rs5ofMf0saj7VrUiK4NPwsEpGGu5rUvTu564XeUnfUnLZ1oyjT6yWmVETuI2YfzwPPIGG8Za0-XSsnbSL3Nkf2YyBk2oaNAV0WT1mua=w800-h524-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="122531-"] .image-decor::before {
    content: "Shoukaku KC";
}
.p-profiles .cc-favourites .c-character a[href*="122531-"] .image-cutter::before {
    content: "Wife";
}
/* Prinz Eugen KC */
/*Vertical poster*/
[href*="characters/139558-"], [data-href*="characters/139558/"], [src*="characters/139558/"], [srcset*="characters/139558/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOC9Yo9xP2uZuUBoy8NlhNpdO7GzvXWbX3-v4KfF4CUPuU2lnNd9BsQ5-tu6GNaLkDClew-wKaiNkLIq9HL4Hn4doFABuh9G7FV-npfxRlKXW5rDlw_XxYn7SZZJnbUsb25rgZrTFQdgba2XLo-o3FN=w670-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/139558-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN8uvKzSKCMG-MD3Fl0GhUIqw7fzthW1WV2R9hMzDEgmZLEeTysIZbtHQIp7cNZoNo9kkaQtJu6BV04aJWQoJ7heJlBptVtFJjrNhYbwLRaowiGgb09R8dxWUnubn6muN4pAlq1veeccTxCgZVccCTh=w1542-h867-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/139558-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPbjnrckQaYxlLEavTiDxSVHvr3dqZWOOGEciwpyrhnxvRAssFuXtwdWvFoJSSGtBF9h3K_XXIMHsjcyE1Czc7TrEkpt9OVAuCyitiOH-FFST8ZDqtd3XX4BqNCMfswwtMHOLFQJEllCIXIF6q7-NuP=w1147-h858-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="139558-"] .image-decor::before {
    content: "Prinz Eugen KC";
}
.p-profiles .cc-favourites .c-character a[href*="139558-"] .image-cutter::before {
    content: "Wife";
}
/* Graf Zeppelin KC */
/*Vertical poster*/
[href*="characters/144732-"], [data-href*="characters/144732/"], [src*="characters/144732/"], [srcset*="characters/144732/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNucqSzGWl-90V0cukd61Ru2K6qxRWO9Li1-qbyMQOyRiiDGcDvYgGoJSNfuV6rTh6Q_MPjGTaYx4nzZvssDkT8myDVNIM9SRIhPBjh8LSEAspAU8eezvQuk1rxmG9fPR8iExIaTI0vd2HCu7oBO92x=w653-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/144732-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPauBhemB0WgEBQigEe2Pt8l01VsntAPxp_T3kbbNEGux2VBUdTeWdhdQMliwNB1HygDjKvoE6GFE17nGDfoWss3YJEFRjOza6HEpTb5gSUKXVr9FT2vEo3v2WP61v2Mt10Gza0T82W1E12zKiIIRCV=w992-h502-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/144732-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNTqKiU546RhD6l5OBeHWvPgN1Uc1sdN1WkFKraaaHk5cA-qAX16G6_ruqmpLrEjXBK5rHii_qnjBZv2gZs6R7E3heHtiWZhLxLj-h-2-ROgDiaUm_J3XsHgZ5huJtKwAvjvBeN0Jf9q0EpYNFAtpcI=w813-h547-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="144732-"] .image-decor::before {
    content: "Graf Zeppelin KC";
}
.p-profiles .cc-favourites .c-character a[href*="144732-"] .image-cutter::before {
    content: "Wife";
}
/* Akizuki */
/*Vertical poster*/
[href*="characters/144694-"], [data-href*="characters/144694/"], [src*="characters/144694/"], [srcset*="characters/144694/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOw_vCyAdAHG74FvRWnYLGrlcTuMT5GYHy7Zisxb2x3GWXFXg3VYiPTK2kFv3eNggj0WSZReKSvlvnUgUYDcvieS8A--9cC4a5mVoQGReomvsYxF9epePdLqVwbEV_kRJ4F794p-MItJAcQi8Ibq2BA=w662-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/144694-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNdR9y4RfOC-z2IiXrzbOcFNVd4acbmYgYnXJCMiw2CPSfQE75ju7gwoHxV146uFfSZlGuxKyGGjRJ-vcgnjisBjszvSSZauSUQRTOsfPa_3blpvjxQtnzAHDKfLqmvPSCeJOL6pTB2J06dEMfbAzBC=w1265-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/144694-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOPHqcMaoYs0jfq6mmT1B2gBMnmnW6k_B147ezJ66dDKLiIKnNm2DIp-6sBcCibsN38vCGOUGTpIBEFeHQeBhtwTDMxDS3kLlWW4pWbL_mMSoAxlREnRA5i_f-D8zKycrZR5oRESc8QHCdAAXQIKa5X=w1150-h630-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="144694-"] .image-decor::before {
    content: "Akizuki";
}
.p-profiles .cc-favourites .c-character a[href*="144694-"] .image-cutter::before {
    content: "Like Aki class";
}
/* Hatsuzuki */
/*Vertical poster*/
[href*="characters/144697-"], [data-href*="characters/144697/"], [src*="characters/144697/"], [srcset*="characters/144697/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczNLLvUrE2KUOo716mKaeKdT3Q81dvHMaG3ye_epmQ3kN7aw1gSUwURfQiwzhqkbmpyMpA9vKaFFXgDaGytXPjTV1afKyMRxVY_h8AQP8j-glDOykzbF5NagjQS-QwiEWMKSuoE216uoXJYKg1VN6JbQ=w529-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/144697-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNs9_yzdcsuMuIzUR2bn1R6J1NQrFa0Wu8wl3ray__YF9dVPDW3Swlf5OETEiOcxAgjuWHAsErVwd0g-aegR6KXPJJvFE7QX6xc7nnV_wch4FfILhGfnNPzlcxqoFcKQxiQA_QfcFrM0qqRk-VH2MWF=w912-h523-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/144697-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPNpwHO7XT6W4uBZCzK9YOog82uKVLXzunaj4UdEC7QELvQRIRRv300SpBkv5HiT5Fi43VABG1M_dvs3tf1fqIYYCwk9c7YJ-o81cBJ-9SOyNApja-FJnAcTxo_5NqZWuK5EwpgctZkNTqLvnqd-vrP=w1400-h787-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="144697-"] .image-decor::before {
    content: "Hatsuzuki";
}
.p-profiles .cc-favourites .c-character a[href*="144697-"] .image-cutter::before {
    content: "Like Aki class";
}
/* Teruzuki */
/*Vertical poster*/
[href*="characters/144696-"], [data-href*="characters/144696/"], [src*="characters/144696/"], [srcset*="characters/144696/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMP6s93NwHJwTTEM9G82gf-vNMziI6eQ35-4A-PHleq-TuNquxEyUsUbPX7A_SUNQaiPqxb86Jzrx3_DMgqdEDrmRPBuh-oF9aSeX4JKlE1M6aMNkVr4n5KUhnHBFBqnzkBO1TZvUGLnLk10PJy1xWg=w572-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/144696-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNSACsaE1ikydF7GvWuXg-uNl2oSQ0Tb75mvv7OXwg0gDw0pn1nx1cAi7VBxlrC3-iEazHhRb0XvsbU_DCX1_mHeN29jxZKcarT3FTn-GZjNbl7tTbNVD_5J647wT7EaAyhdeBx9a0_7xBsXRBs-a7g=w1273-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/144696-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNertVDyTxH_ZSt2C-CA82kw8grWC9a0D9-0MiGkHDEKxY4rZMlCkO_C8dHdxfixi72Ocz0VmjNcLdhi-QRHw-qG1n7NM6Ub9wvOV1pP5RlWd6Xxuj9NT_pQANru6bVFg-CjK3pS9FXh6adMqW3ayf9=w1260-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="144696-"] .image-decor::before {
    content: "Teruzuki";
}
.p-profiles .cc-favourites .c-character a[href*="144696-"] .image-cutter::before {
    content: "Like Aki class";
}
/* Zuikaku KC */
/*Vertical poster*/
[href*="characters/124074-"], [data-href*="characters/124074/"], [src*="characters/124074/"], [srcset*="characters/124074/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOB8TYU6DwVQYHVl7WBVea7WEWXLJdN7jh91THLpJZr1EP_n17dnpQlIPZPInv3x9eAVwHw4bTwX5U7NmszFmm0XRWBCuywGYGFSSqYsPYLzJUBHxaK3zn6oWcT4Iqf75Wtjm0BGK-rrIzMS5Xs55id=w694-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/124074-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMXIGJJosdNPqp7BVQrA3p1b5XAPg0HTVkAeRvCJEu5TfwKuyk4mop5Z7ePZ9ky4a2rJqsSOzu-Cw2fmaUoXJOIe_5bPCK5DyyhvinavvQVf_OXK1Jt4EOW_BFSPfZb22ffSJmn2xRzp3tk2Q6Qu3x5=w1540-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/124074-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNAIJPNIWF0e2AwTJtw_vjnOFifMgPZQviYi5_s6OhhLkUSyuk9UZyrfVwWWHZeojt93nPdoSvW3y5bYVm6NWw4FuNjkvfh26vKkj2xClqe5i1jH1yGE3yA3-T1SA1R9-MsYqwdClR8oA4z4nOdbEam=w1266-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="124074-"] .image-decor::before {
    content: "Zuikaku KC";
}
.p-profiles .cc-favourites .c-character a[href*="124074-"] .image-cutter::before {
    content: "Sister's wife";
}
/* Bismarck KC */
/*Vertical poster*/
[href*="characters/144722-"], [data-href*="characters/144722/"], [src*="characters/144722/"], [srcset*="characters/144722/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczP0nH9FO-RyMMSf7cRE-WAidnuO-ACmNoAqKn2xpopVaNQpCs3ZZyTg4oH6LPwzO4WXUG0Jj8F1Pt36HrIcVlz1yNCffttLSZZT7jdSM8L-CGiJJpcBijYOlEt0aI7nhsm17E8J9HPLGEAXwzlRbISX=w605-h900-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/144722-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMFZ5NBbCXWMB2okH1R8DA55LbthiNxm3sIHlsGZWXEr3qqY3cyZbdeLrKCctqSjxOengPdFwB4pGCtRXRucaUlQojbijKNaoquyRMl7HCzKdJwA7aqnoK402jsz2Pr_PvwuhW5l4wf2vY0Eqi81tGy=w1273-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/144722-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPzPUBpbXuyi7ZT-yJLvV1VULSYXZp4Cajg1_lausKCUmpzPY57dHjAnGHWo9naFq12x2v2TpL8QAwpi9D4j-l79hz4n3tukgs3_VW3M8-NK8labNenN28ij1jQ5t6UHUY-1v8ra6Wpi5JJ7gC4aIw9=w1315-h900-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="144722-"] .image-decor::before {
    content: "Bismarck KC";
}
.p-profiles .cc-favourites .c-character a[href*="144722-"] .image-cutter::before {
    content: "Beautiful woman";
}
