/* Kamisato Ayaka */
/*Vertical poster*/
[href*="characters/224257-"], [data-href*="characters/224257/"], [src*="characters/224257/"], [srcset*="characters/224257/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczMZDjsnvidXRdzqlJoQzGopLTgX3gVpk1mGviMGqEDqO1OqbRVEzFexCd-NjvtMVN0-Y3HAPzHF8AxzBp84C2vUQ35Af2hlnLPgNMiD-Dcwh5INNg0jKLbWXxtWCgZUDw-CXy0h_aI6B2M1RehhuLUb=w1018-h1440-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/224257-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPpjnwCLwy-rSNVtv4QfE8X2WHIUbzcA4q5SUfm25iTc1QOq019Le5vC6FWKGne300-EFMkcB1jMIo9UDTaok4qqpo_m2y756Oxfrh2ZVBaC2ylI86vbhe5DxtDyhWsvGtNzp_fz0gJ8gaV47beBZRf=w2502-h1332-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/224257-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczM3MMxOFBV5KTQWQc2a_sUDpeMJOQepvLy-Rf7CsWupT7IKqpTdG16BI3sCZy8CinH2MAUPrMGQjfqsVjEk_Dh9T_q1lk2LqKVqMIDotisT8HG56zPJbUj9oxNunEFABQS42MM1mREmjnSOmXuOaWtp=w2508-h1255-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="224257-"] .image-decor::before {
    content: "Kamisato Ayaka";
}
.p-profiles .cc-favourites .c-character a[href*="224257-"] .image-cutter::before {
    content: "Wife";
}
/* Yoimiya */
/*Vertical poster*/
[href*="characters/224261-"], [data-href*="characters/224261/"], [src*="characters/224261/"], [srcset*="characters/224261/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOipMfBN2LiwrI8JmBhYTXY6HpMUQ5patYJWTiJBwb2ExsnQrfcKtDBI3MghZf6FACeYzz-ZIAiUhw_iXyL9jSaFwXr800UaXSbm7hf6fgOOJsD5qvsc2ncvrxfy_WQoZz50doQ7fhJq908Ip1KiEpp=w949-h1440-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/224261-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOQffADgkadPp4fbrO0uixuYrPyLVNw2GKdoYgIIneeNYTzl4PToSvXH7vEb9SnGV0aR9Y0CwttJisoQxOyXvaucbA8jsjEU_tmvFbnOc1SNNARQuPyQzUyQODdVflgotmY9u9907Mk4tBJiMraBu3R=w2470-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/224261-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPg1GY2pdld_ETb-C7grKSdpSfmXbbnuWlG89zSQgQEpDXYnME24CelReLquVhSWgQiSVxp8bLq1BWvPhg4Mwsei6IdMSRCKT1QsuQAilXhN_UKHXOfVgqdy55HvbUYFRxdLlw8hg5NafMz3rJGLkej=w1200-h753-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="224261-"] .image-decor::before {
    content: "Yoimiya";
}
.p-profiles .cc-favourites .c-character a[href*="224261-"] .image-cutter::before {
    content: "Funny girl,wife";
}
/* Ningguan */
/*Vertical poster*/
[href*="characters/195245-"], [data-href*="characters/195245/"], [src*="characters/195245/"], [srcset*="characters/195245/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczP-xxnsmfvTGKjqIZb30iPIrclI2moyION388a8tY_RvDzH_Nml0Elcye85rA6sRFC5s20AfEBlOgCAvc_24JaQA-YX6IxKx89xYJUFoLq1NwnQdF0AFNb51nAn45_WMdDOjlqum5MRdUCe-MJYUvyM=w800-h1351-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/195245-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMFzapmn0LHy-G-2C3UCvH18ux8DH6YEIJtjlZs6MeAjCpq2isKqjdlSgA0VQdWCaai5SOF0TQsO3qsULpNU0aJzZp19NXAa9zNvYpExLXM9OppcXkjCqRB17tpvqG7gLoW3gOTt8xMRqRTYJMSpdoX=w2507-h1396-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/195245-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNqjprt962Id8mnXeW4qTbDbQAvjub_t5RSIz6UjMEVNe0-f2sB490GU6Q_ZyfEDbBS_-j5U6aR-ne-exHSBlOqgJ1nCj3yXQqbtYBBGbxE3hQhmk-h_cT2uSVVaXASYVtd2CgVIYGsMoCLfh2eegZy=w2109-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="195245-"] .image-decor::before {
    content: "Ningguan";
}
.p-profiles .cc-favourites .c-character a[href*="195245-"] .image-cutter::before {
    content: "Good forms,wife";
}
/* Seele Vollerei */
/*Vertical poster*/
[href*="characters/172814-"], [data-href*="characters/172814/"], [src*="characters/172814/"], [srcset*="characters/172814/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczOQsFkcni7vNKFnl0gDjmvwmWJTtWyAIpBko0Jk3hs4qWik6IfVKcwZTpjlou7gJoKkbiu-lRqcYJ3fT7JpYRFXMnG6_Kx7_prCfbeGYOhPBjsXBHocEEaXIfvEG6f_99tCMaLPfp8tt5WO0mp-Iaf5=w800-h1440-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/172814-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczNrM_D4EbFKNFYiQyCs-4rn6-Sp3DmKpE1cXNwHxUOxO7xq2vDajp9tJ5DkWRxdF0OakbAFzQdkYSf_epBEO6MmNpCvUhx6P1zPXMlLz9-FOQPtIshuWXlgSNugxMjfWZv3i5VL2-yVaI5uwN7HjnWY=w2502-h1407-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/172814-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczOMx_P5zo0tCjDqgmO-0bP2nIxSyWezoXipyfQ-2GCpM4fQn7lfdecLv0Z7Zz423AwI4SwqPF-mh_9MwfvrcMRj7-Rao-Jlwq1z02NdyDs9-3vzZYjqu8I4YVQKCnAx7sSzvBCqPOK6A0X6PNSOPVQn=w2508-h1247-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="172814-"] .image-decor::before {
    content: "Seele Vollerei";
}
.p-profiles .cc-favourites .c-character a[href*="172814-"] .image-cutter::before {
    content: "Funny shiza";
}
/* Himeko */
/*Vertical poster*/
[href*="characters/238037-"], [data-href*="characters/238037/"], [src*="characters/238037/"], [srcset*="characters/238037/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczPm66Zoi86vsmaTaSjVE_fTev2URPYdWDEzvxnqPEOV45KcvOXyDUCs8JBu7N1qNZGRyswhFzwCk6rpGvCFxa80H3w97kN303Iohekeb4vBGoA7WfFXSoEYgSGIthEuiRXcsN-evWPQE_0c_C3XvUzC=w800-h1433-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/238037-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMaPFDS75Sd0rkMTxyZ1G3mYPxZ-Soa1rJH2hmfP9xuztlvdt2InnmI1jYbaZIsthGOQi4zgsVU5dkyC_HOBCTwoUDwEp8VPfd4Wew-LUGm6L8E4BjEoCpQTDvxgtwe8FJAuQwDsiBjRo68lcuI31ky=w2505-h1391-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/238037-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczPmSWqkK4h6mXU88qfPkcsS5kuAVha3tDVwfZ04qaIXFX9mMFtDCl0EU-u8wrJJP2neIYKXTgEj1ZywUE5da9SXVG_oc0QnJBLYj7dwAYJu_Es8AEYmlkt3JflGi1XGxXDveIL9X33d8F0aFSZlzbh9=w1747-h1440-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="238037-"] .image-decor::before {
    content: "Himeko HSR";
}
.p-profiles .cc-favourites .c-character a[href*="238037-"] .image-cutter::before {
    content: "Beautiful appearance";
}
/* Kafka */
/*Vertical poster*/
[href*="characters/238206-"], [data-href*="characters/238206/"], [src*="characters/238206/"], [srcset*="characters/238206/"] {
  --show-default: 0;
  --custom-image: url(https://lh3.googleusercontent.com/pw/AP1GczO5V5k4pxu8mJd7nhPfwPIr9haNl2Dv10iu1NEnUXFnwOQK-8i1DIpw0wgh1y2BmD7HvyqxsOl0IT3oIt9b5mXPflzlA6HuPRkbY4iDZf41J_blsOSP9K4zjl6KeqH1f8Y1QSfybnnh_eYH0TintZy4=w848-h1440-s-no-gm?authuser=0);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/238206-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczMTseCdKEkltjdyClXoxjX43ZKlU4OoK4_RcX0PmaEBFO-1sVz53At_yj-cXeIrwKW1e9jTtVjEJ9f1QolzPpXCfBMIjzwmZ-tDEhxpa9pORcw-XU6Z_YAAxYhERPZFslaO4Isw_0AoYqnd1XppQIDb=w2500-h1412-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/238206-"] .image-cutter {
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN-aX0A77QSQ7rzp89_XhBRleAo0ilNcnjZcCuBozuXJJIxn6VvNUjshPlntReU__1GkFfdED5F40p1eis4ecqNF2R9NTCiwn5zI80wJ-rqOn9P1osN46r7YCIuAMo7ijeDeaLqEwfAOjm-3ybYSxRq=w2504-h1343-s-no-gm?authuser=0) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="238206-"] .image-decor::before {
    content: "Kafka HSR";
}
.p-profiles .cc-favourites .c-character a[href*="238206-"] .image-cutter::before {
    content: "Best killer";
}
