/* Rio Tsukatsuki */
/*Vertical poster*/
[href*="characters/244156-"], [data-href*="characters/244156/"], [src*="characters/244156/"], [srcset*="characters/244156/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553443.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/244156-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553442.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/244156-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553444.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="244156-"] .image-decor::before {
    content: "Rio Tsukatsuki";
}
.p-profiles .cc-favourites .c-character a[href*="244156-"] .image-cutter::before {
    content: "Beautiful girl";
}
/* Aru Rikuhachima */
/*Vertical poster*/
[href*="characters/215644-"], [data-href*="characters/215644/"], [src*="characters/215644/"], [srcset*="characters/215644/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553437.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/215644-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553438.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/215644-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553436.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="215644-"] .image-decor::before {
    content: "Aru Rikuhachima";
}
.p-profiles .cc-favourites .c-character a[href*="215644-"] .image-cutter::before {
    content: "Beautiful girl";
}
/* Karin Kakudate */
/*Vertical poster*/
[href*="characters/203870-"], [data-href*="characters/203870/"], [src*="characters/203870/"], [srcset*="characters/203870/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553441.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/203870-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553440.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/203870-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553439.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="203870-"] .image-decor::before {
    content: "Karin Kakudate";
}
.p-profiles .cc-favourites .c-character a[href*="203870-"] .image-cutter::before {
    content: "Like chocolate,wife";
}
/* Kazusa Kyoyama  */
/*Vertical poster*/
[href*="characters/249530-"], [data-href*="characters/249530/"], [src*="characters/249530/"], [srcset*="characters/249530/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images_h/original/b7237b6571c01342f32b62eb/5137012a46057ae093292dd616db85669f0e137486cb894e5be66948584126b4.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/249530-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images_h/original/b7237b6571c01342f32b62eb/441694f423b690e18cd527acfa652bb0bc75244cba33f562cb0d7760b94218f2.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/249530-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images_h/original/b7237b6571c01342f32b62eb/ab9e104244de0df0771ced61cb11dcc57eccc86bc879b41a8fb41a1a4722054e.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="249530-"] .image-decor::before {
    content: "Kazusa Kyoyama ";
}
.p-profiles .cc-favourites .c-character a[href*="249530-"] .image-cutter::before {
    content: "Wife";
}
