/* Kanae Kochou */
/*Vertical poster*/
[href*="characters/173733-"], [data-href*="characters/173733/"], [src*="characters/173733/"], [srcset*="characters/173733/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553745.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/173733-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553735.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/173733-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553736.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="173733-"] .image-decor::before {
    content: "Kanae Kochou";
}
.p-profiles .cc-favourites .c-character a[href*="173733-"] .image-cutter::before {
    content: "Like";
}
/* Shinobu Kochou */
/*Vertical poster*/
[href*="characters/146736-"], [data-href*="characters/146736/"], [src*="characters/146736/"], [srcset*="characters/146736/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553718.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146736-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553737.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146736-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553738.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146736-"] .image-decor::before {
    content: "Shinobu Kochou";
}
.p-profiles .cc-favourites .c-character a[href*="146736-"] .image-cutter::before {
    content: "Wife";
}
/* Kanao Tsuyuri */
/*Vertical poster*/
[href*="characters/151142-"], [data-href*="characters/151142/"], [src*="characters/151142/"], [srcset*="characters/151142/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553716.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151142-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553743.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151142-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553742.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151142-"] .image-decor::before {
    content: "Kanao Tsuyuri";
}
.p-profiles .cc-favourites .c-character a[href*="151142-"] .image-cutter::before {
    content: "Hard story";
}
/* Aoi Kanzaki */
/*Vertical poster*/
[href*="characters/173537-"], [data-href*="characters/173537/"], [src*="characters/173537/"], [srcset*="characters/173537/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553744.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/173537-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553734.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/173537-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553733.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="173537-"] .image-decor::before {
    content: "Aoi Kanzaki";
}
.p-profiles .cc-favourites .c-character a[href*="173537-"] .image-cutter::before {
    content: "Good support";
}
/* Mitsuri Kanroji */
/*Vertical poster*/
[href*="characters/151145-"], [data-href*="characters/151145/"], [src*="characters/151145/"], [srcset*="characters/151145/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553730.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151145-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553732.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151145-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553731.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151145-"] .image-decor::before {
    content: "Mitsuri Kanroji";
}
.p-profiles .cc-favourites .c-character a[href*="151145-"] .image-cutter::before {
    content: "I feel sorry for her";
}
/* Obanai Iguro */
/*Vertical poster*/
[href*="characters/151148-"], [data-href*="characters/151148/"], [src*="characters/151148/"], [srcset*="characters/151148/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553730.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151148-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553726.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151148-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553727.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151148-"] .image-decor::before {
    content: "Obanai Iguro";
}
.p-profiles .cc-favourites .c-character a[href*="151148-"] .image-cutter::before {
    content: "Not bad";
}
/* Nezuko Kamado */
/*Vertical poster*/
[href*="characters/146157-"], [data-href*="characters/146157/"], [src*="characters/146157/"], [srcset*="characters/146157/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553729.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146157-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553717.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146157-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553728.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146157-"] .image-decor::before {
    content: "Nezuko Kamado";
}
.p-profiles .cc-favourites .c-character a[href*="146157-"] .image-cutter::before {
    content: "Happy end";
}
/* Tanjirou Kamado */
/*Vertical poster*/
[href*="characters/146156-"], [data-href*="characters/146156/"], [src*="characters/146156/"], [srcset*="characters/146156/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553729.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146156-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553719.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146156-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553728.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146156-"] .image-decor::before {
    content: "Tanjirou Kamado";
}
.p-profiles .cc-favourites .c-character a[href*="146156-"] .image-cutter::before {
    content: "Happy end";
}
/* Daki */
/*Vertical poster*/
[href*="characters/174151-"], [data-href*="characters/174151/"], [src*="characters/174151/"], [srcset*="characters/174151/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553722.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/174151-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553720.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/174151-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553721.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="174151-"] .image-decor::before {
    content: "Daki";
}
.p-profiles .cc-favourites .c-character a[href*="174151-"] .image-cutter::before {
    content: "I feel sorry for her";
}
/* Muichirou Tokitou */
/*Vertical poster*/
[href*="characters/151147-"], [data-href*="characters/151147/"], [src*="characters/151147/"], [srcset*="characters/151147/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553739.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/151147-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553741.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/151147-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553740.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="151147-"] .image-decor::before {
    content: "Muichirou Tokitou";
}
.p-profiles .cc-favourites .c-character a[href*="151147-"] .image-cutter::before {
    content: "Cute boy";
}
/* Inosuke Hashibira */
/*Vertical poster*/
[href*="characters/146159-"], [data-href*="characters/146159/"], [src*="characters/146159/"], [srcset*="characters/146159/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2553723.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/146159-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553724.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/146159-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2553725.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="146159-"] .image-decor::before {
    content: "Inosuke Hashibira";
}
.p-profiles .cc-favourites .c-character a[href*="146159-"] .image-cutter::before {
    content: "Cheerful character";
}
