/* Momo Belia Deviluke */
/*Vertical poster*/
[href*="characters/17364-"], [data-href*="characters/17364/"], [src*="characters/17364/"], [srcset*="characters/17364/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551635.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/17364-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551634.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/17364-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551633.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="17364-"] .image-decor::before {
    content: "Momo Belia Deviluke";
}
.p-profiles .cc-favourites .c-character a[href*="17364-"] .image-cutter::before {
    content: "Good wife";
}
/* Konjiki no Yami */
/*Vertical poster*/
[href*="characters/5513-"], [data-href*="characters/5513/"], [src*="characters/5513/"], [srcset*="characters/5513/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551637.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/5513-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551630.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/5513-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551631.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="5513-"] .image-decor::before {
    content: "Konjiki no Yami";
}
.p-profiles .cc-favourites .c-character a[href*="5513-"] .image-cutter::before {
    content: "Hard story";
}
/* Nemesis */
/*Vertical poster*/
[href*="characters/41370-"], [data-href*="characters/41370/"], [src*="characters/41370/"], [srcset*="characters/41370/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551636.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/41370-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551629.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/41370-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551632.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="41370-"] .image-decor::before {
    content: "Nemesis";
}
.p-profiles .cc-favourites .c-character a[href*="41370-"] .image-cutter::before {
    content: "Like chocolate";
}
/* Kyouka Uzen */
/*Vertical poster*/
[href*="characters/178274-"], [data-href*="characters/178274/"], [src*="characters/178274/"], [srcset*="characters/178274/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551649.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/178274-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551648.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/178274-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551650.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="178274-"] .image-decor::before {
    content: "Kyouka Uzen";
}
.p-profiles .cc-favourites .c-character a[href*="178274-"] .image-cutter::before {
    content: "Wife";
}
/* Himari Azuma */
/*Vertical poster*/
[href*="characters/178276-"], [data-href*="characters/178276/"], [src*="characters/178276/"], [srcset*="characters/178276/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551646.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/178276-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551645.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/178276-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551644.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="178276-"] .image-decor::before {
    content: "Himari Azuma";
}
.p-profiles .cc-favourites .c-character a[href*="178276-"] .image-cutter::before {
    content: "Wife";
}
/* Varvara Pilipenko */
/*Vertical poster*/
[href*="characters/190002-"], [data-href*="characters/190002/"], [src*="characters/190002/"], [srcset*="characters/190002/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551654.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/190002-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551655.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/190002-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551656.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="190002-"] .image-decor::before {
    content: "Varvara Pilipenko";
}
.p-profiles .cc-favourites .c-character a[href*="190002-"] .image-cutter::before {
    content: "Amine Ukrainian";
}
/* Fubuki Azuma */
/*Vertical poster*/
[href*="characters/190003-"], [data-href*="characters/190003/"], [src*="characters/190003/"], [srcset*="characters/190003/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551658.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/190003-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551657.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/190003-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551659.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="190003-"] .image-decor::before {
    content: "Fubuki Azuma";
}
.p-profiles .cc-favourites .c-character a[href*="190003-"] .image-cutter::before {
    content: "Mmm, mommy";
}
/* Aoba Wakura */
/*Vertical poster*/
[href*="characters/190010-"], [data-href*="characters/190010/"], [src*="characters/190010/"], [srcset*="characters/190010/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551663.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/190010-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551661.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/190010-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551662.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="190010-"] .image-decor::before {
    content: "Aoba Wakura";
}
.p-profiles .cc-favourites .c-character a[href*="190010-"] .image-cutter::before {
    content: "Best sister";
}
/* Riselia Ray Crystalia */
/*Vertical poster*/
[href*="characters/202403-"], [data-href*="characters/202403/"], [src*="characters/202403/"], [srcset*="characters/202403/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551669.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/202403-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551670.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/202403-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551667.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="202403-"] .image-decor::before {
    content: "Riselia Ray Crystalia";
}
.p-profiles .cc-favourites .c-character a[href*="202403-"] .image-cutter::before {
    content: "Cute girl";
}
/* Leonis Death Magnus */
/*Vertical poster*/
[href*="characters/202827-"], [data-href*="characters/202827/"], [src*="characters/202827/"], [srcset*="characters/202827/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551673.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/202827-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551674.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/202827-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551675.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="202827-"] .image-decor::before {
    content: "Leonis Death Magnus";
}
.p-profiles .cc-favourites .c-character a[href*="202827-"] .image-cutter::before {
    content: "Cute boy";
}
/* Roselia */
/*Vertical poster*/
[href*="characters/232809-"], [data-href*="characters/232809/"], [src*="characters/232809/"], [srcset*="characters/232809/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551672.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/232809-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551671.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/232809-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551668.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="232809-"] .image-decor::before {
    content: "Roselia";
}
.p-profiles .cc-favourites .c-character a[href*="232809-"] .image-cutter::before {
    content: "I'ts Riselia";
}
/* Akio Fudou */
/*Vertical poster*/
[href*="characters/52889-"], [data-href*="characters/52889/"], [src*="characters/52889/"], [srcset*="characters/52889/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551699.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/52889-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551702.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/52889-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551700.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="52889-"] .image-decor::before {
    content: "Akio Fudou";
}
.p-profiles .cc-favourites .c-character a[href*="52889-"] .image-cutter::before {
    content: "Nom nom";
}
/* Arin Kannazuki */
/*Vertical poster*/
[href*="characters/56701-"], [data-href*="characters/56701/"], [src*="characters/56701/"], [srcset*="characters/56701/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551698.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/56701-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551697.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/56701-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551701.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="56701-"] .image-decor::before {
    content: "Arin Kannazuki";
}
.p-profiles .cc-favourites .c-character a[href*="56701-"] .image-cutter::before {
    content: "Best kudere";
}
/* Origami Tobiichi */
/*Vertical poster*/
[href*="characters/65261-"], [data-href*="characters/65261/"], [src*="characters/65261/"], [srcset*="characters/65261/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551720.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/65261-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551724.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/65261-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551725.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="65261-"] .image-decor::before {
    content: "Origami Tobiichi";
}
.p-profiles .cc-favourites .c-character a[href*="65261-"] .image-cutter::before {
    content: "Best kudere";
}
/* Kurumi Tokisaki */
/*Vertical poster*/
[href*="characters/z70069-"], [data-href*="characters/z70069/"], [src*="characters/z70069/"], [srcset*="characters/z70069/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551721.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/z70069-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551722.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/z70069-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551723.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="z70069-"] .image-decor::before {
    content: "Kurumi Tokisaki";
}
.p-profiles .cc-favourites .c-character a[href*="z70069-"] .image-cutter::before {
    content: "Wife";
}
/* Rias Gremory */
/*Vertical poster*/
[href*="characters/50389-"], [data-href*="characters/50389/"], [src*="characters/50389/"], [srcset*="characters/50389/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551733.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/50389-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551734.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/50389-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551735.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="50389-"] .image-decor::before {
    content: "Rias Gremory";
}
.p-profiles .cc-favourites .c-character a[href*="50389-"] .image-cutter::before {
    content: "Cute";
}
/* Aine Chidorigafuchi */
/*Vertical poster*/
[href*="characters/133856-"], [data-href*="characters/133856/"], [src*="characters/133856/"], [srcset*="characters/133856/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551757.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/133856-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551752.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/133856-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551753.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="133856-"] .image-decor::before {
    content: "Aine Chidorigafuchi";
}
.p-profiles .cc-favourites .c-character a[href*="133856-"] .image-cutter::before {
    content: "Hard story";
}
/* Kizuna Hida */
/*Vertical poster*/
[href*="characters/133857-"], [data-href*="characters/133857/"], [src*="characters/133857/"], [srcset*="characters/133857/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551757.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/133857-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551755.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/133857-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551753.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="133857-"] .image-decor::before {
    content: "Kizuna Hida";
}
.p-profiles .cc-favourites .c-character a[href*="133857-"] .image-cutter::before {
    content: "Hard story";
}
/* Airi Arcadia */
/*Vertical poster*/
[href*="characters/133658-"], [data-href*="characters/133658/"], [src*="characters/133658/"], [srcset*="characters/133658/"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/1141316/2551767.jpg);
}
/* Horizontal poster */
.p-profiles .cc-favourites .c-character a[href*="characters/133658-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551769.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character:hover a[href*="characters/133658-"] .image-cutter {
    background: url(https://desu.shikimori.one/system/user_images/original/1141316/2551768.jpg) no-repeat center / cover;
}
.p-profiles .cc-favourites .c-character a[href*="133658-"] .image-decor::before {
    content: "Airi Arcadia";
}
.p-profiles .cc-favourites .c-character a[href*="133658-"] .image-cutter::before {
    content: "Cute sister";
}
